
/* TypoPRO Source Sans 3 Semibold Italic */
@font-face {
    font-family:  'TypoPRO Source Sans Pro';
    src:          url('TypoPRO-SourceSansPro-SemiboldIt.eot');
    src:          local('*'),
                  url('TypoPRO-SourceSansPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceSansPro-SemiboldIt.woff') format('woff'),
                  url('TypoPRO-SourceSansPro-SemiboldIt.ttf') format('truetype');
    font-style:   italic;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}

