
/* TypoPRO Source Sans 3 Black */
@font-face {
    font-family:  'TypoPRO Source Sans Pro';
    src:          url('TypoPRO-SourceSansPro-Black.eot');
    src:          local('*'),
                  url('TypoPRO-SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceSansPro-Black.woff') format('woff'),
                  url('TypoPRO-SourceSansPro-Black.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Sans 3 Black Italic */
@font-face {
    font-family:  'TypoPRO Source Sans Pro';
    src:          url('TypoPRO-SourceSansPro-BlackIt.eot');
    src:          local('*'),
                  url('TypoPRO-SourceSansPro-BlackIt.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceSansPro-BlackIt.woff') format('woff'),
                  url('TypoPRO-SourceSansPro-BlackIt.ttf') format('truetype');
    font-style:   italic;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Sans 3 Bold */
@font-face {
    font-family:  'TypoPRO Source Sans Pro';
    src:          url('TypoPRO-SourceSansPro-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceSansPro-Bold.woff') format('woff'),
                  url('TypoPRO-SourceSansPro-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Sans 3 Bold Italic */
@font-face {
    font-family:  'TypoPRO Source Sans Pro';
    src:          url('TypoPRO-SourceSansPro-BoldIt.eot');
    src:          local('*'),
                  url('TypoPRO-SourceSansPro-BoldIt.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceSansPro-BoldIt.woff') format('woff'),
                  url('TypoPRO-SourceSansPro-BoldIt.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Sans 3 ExtraLight */
@font-face {
    font-family:  'TypoPRO Source Sans Pro';
    src:          url('TypoPRO-SourceSansPro-ExtraLight.eot');
    src:          local('*'),
                  url('TypoPRO-SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceSansPro-ExtraLight.woff') format('woff'),
                  url('TypoPRO-SourceSansPro-ExtraLight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Sans 3 ExtraLight Italic */
@font-face {
    font-family:  'TypoPRO Source Sans Pro';
    src:          url('TypoPRO-SourceSansPro-ExtraLightIt.eot');
    src:          local('*'),
                  url('TypoPRO-SourceSansPro-ExtraLightIt.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceSansPro-ExtraLightIt.woff') format('woff'),
                  url('TypoPRO-SourceSansPro-ExtraLightIt.ttf') format('truetype');
    font-style:   italic;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Sans 3 Light */
@font-face {
    font-family:  'TypoPRO Source Sans Pro';
    src:          url('TypoPRO-SourceSansPro-Light.eot');
    src:          local('*'),
                  url('TypoPRO-SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceSansPro-Light.woff') format('woff'),
                  url('TypoPRO-SourceSansPro-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Sans 3 Light Italic */
@font-face {
    font-family:  'TypoPRO Source Sans Pro';
    src:          url('TypoPRO-SourceSansPro-LightIt.eot');
    src:          local('*'),
                  url('TypoPRO-SourceSansPro-LightIt.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceSansPro-LightIt.woff') format('woff'),
                  url('TypoPRO-SourceSansPro-LightIt.ttf') format('truetype');
    font-style:   italic;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Sans 3 */
@font-face {
    font-family:  'TypoPRO Source Sans Pro';
    src:          url('TypoPRO-SourceSansPro-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceSansPro-Regular.woff') format('woff'),
                  url('TypoPRO-SourceSansPro-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Sans 3 Italic */
@font-face {
    font-family:  'TypoPRO Source Sans Pro';
    src:          url('TypoPRO-SourceSansPro-RegularIt.eot');
    src:          local('*'),
                  url('TypoPRO-SourceSansPro-RegularIt.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceSansPro-RegularIt.woff') format('woff'),
                  url('TypoPRO-SourceSansPro-RegularIt.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Sans 3 Semibold */
@font-face {
    font-family:  'TypoPRO Source Sans Pro';
    src:          url('TypoPRO-SourceSansPro-Semibold.eot');
    src:          local('*'),
                  url('TypoPRO-SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceSansPro-Semibold.woff') format('woff'),
                  url('TypoPRO-SourceSansPro-Semibold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Sans 3 Semibold Italic */
@font-face {
    font-family:  'TypoPRO Source Sans Pro';
    src:          url('TypoPRO-SourceSansPro-SemiboldIt.eot');
    src:          local('*'),
                  url('TypoPRO-SourceSansPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceSansPro-SemiboldIt.woff') format('woff'),
                  url('TypoPRO-SourceSansPro-SemiboldIt.ttf') format('truetype');
    font-style:   italic;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}

