
/* TypoPRO Iosevka Term Slab Bold */
@font-face {
    font-family:  'TypoPRO Iosevka Term Slab';
    src:          url('TypoPRO-iosevka-term-slab-bold.eot');
    src:          local('*'),
                  url('TypoPRO-iosevka-term-slab-bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-iosevka-term-slab-bold.woff') format('woff'),
                  url('TypoPRO-iosevka-term-slab-bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

