
/* TypoPRO Iosevka Term Slab Bold Oblique */
@font-face {
    font-family:  'TypoPRO Iosevka Term Slab';
    src:          url('TypoPRO-iosevka-term-slab-boldoblique.eot');
    src:          local('*'),
                  url('TypoPRO-iosevka-term-slab-boldoblique.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-iosevka-term-slab-boldoblique.woff') format('woff'),
                  url('TypoPRO-iosevka-term-slab-boldoblique.ttf') format('truetype');
    font-style:   oblique;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

