
/* TypoPRO Iosevka Term Slab */
@font-face {
    font-family:  'TypoPRO Iosevka Term Slab';
    src:          url('TypoPRO-iosevka-term-slab-regular.eot');
    src:          local('*'),
                  url('TypoPRO-iosevka-term-slab-regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-iosevka-term-slab-regular.woff') format('woff'),
                  url('TypoPRO-iosevka-term-slab-regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

