
/* TypoPRO Iosevka Term Slab Oblique */
@font-face {
    font-family:  'TypoPRO Iosevka Term Slab';
    src:          url('TypoPRO-iosevka-term-slab-oblique.eot');
    src:          local('*'),
                  url('TypoPRO-iosevka-term-slab-oblique.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-iosevka-term-slab-oblique.woff') format('woff'),
                  url('TypoPRO-iosevka-term-slab-oblique.ttf') format('truetype');
    font-style:   oblique;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

