
/* TypoPRO Iosevka Term Thin Italic */
@font-face {
    font-family:  'TypoPRO Iosevka Term';
    src:          url('TypoPRO-iosevka-term-thinitalic.eot');
    src:          local('*'),
                  url('TypoPRO-iosevka-term-thinitalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-iosevka-term-thinitalic.woff') format('woff'),
                  url('TypoPRO-iosevka-term-thinitalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}

