
/* TypoPRO Iosevka Term Medium Italic */
@font-face {
    font-family:  'TypoPRO Iosevka Term';
    src:          url('TypoPRO-iosevka-term-mediumitalic.eot');
    src:          local('*'),
                  url('TypoPRO-iosevka-term-mediumitalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-iosevka-term-mediumitalic.woff') format('woff'),
                  url('TypoPRO-iosevka-term-mediumitalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}

