
/* TypoPRO Iosevka Term Medium */
@font-face {
    font-family:  'TypoPRO Iosevka Term';
    src:          url('TypoPRO-iosevka-term-medium.eot');
    src:          local('*'),
                  url('TypoPRO-iosevka-term-medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-iosevka-term-medium.woff') format('woff'),
                  url('TypoPRO-iosevka-term-medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}

