
/* TypoPRO Iosevka Term Slab Heavy Italic */
@font-face {
    font-family:  'TypoPRO Iosevka Term Slab';
    src:          url('TypoPRO-iosevka-term-slab-heavyitalic.eot');
    src:          local('*'),
                  url('TypoPRO-iosevka-term-slab-heavyitalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-iosevka-term-slab-heavyitalic.woff') format('woff'),
                  url('TypoPRO-iosevka-term-slab-heavyitalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}

