
/* TypoPRO Iosevka Term Slab Medium Oblique */
@font-face {
    font-family:  'TypoPRO Iosevka Term Slab';
    src:          url('TypoPRO-iosevka-term-slab-mediumoblique.eot');
    src:          local('*'),
                  url('TypoPRO-iosevka-term-slab-mediumoblique.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-iosevka-term-slab-mediumoblique.woff') format('woff'),
                  url('TypoPRO-iosevka-term-slab-mediumoblique.ttf') format('truetype');
    font-style:   oblique;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}

