
/* TypoPRO Iosevka Term Bold Italic */
@font-face {
    font-family:  'TypoPRO Iosevka Term';
    src:          url('TypoPRO-iosevka-term-bolditalic.eot');
    src:          local('*'),
                  url('TypoPRO-iosevka-term-bolditalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-iosevka-term-bolditalic.woff') format('woff'),
                  url('TypoPRO-iosevka-term-bolditalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

