
/* TypoPRO Iosevka Term Medium Oblique */
@font-face {
    font-family:  'TypoPRO Iosevka Term';
    src:          url('TypoPRO-iosevka-term-mediumoblique.eot');
    src:          local('*'),
                  url('TypoPRO-iosevka-term-mediumoblique.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-iosevka-term-mediumoblique.woff') format('woff'),
                  url('TypoPRO-iosevka-term-mediumoblique.ttf') format('truetype');
    font-style:   oblique;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}

