
/* TypoPRO Ostrich Sans Dashed Medium */
@font-face {
    font-family:  'TypoPRO Ostrich Sans Dashed';
    src:          url('TypoPRO-OstrichSansDashed-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-OstrichSansDashed-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-OstrichSansDashed-Medium.woff') format('woff'),
                  url('TypoPRO-OstrichSansDashed-Medium.ttf') format('truetype'),
                  url('TypoPRO-OstrichSansDashed-Medium.svgz#TypoPRO-OstrichSansDashed-Medium') format('svg');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}

