
/* TypoPRO Rubik Mono One Regular */
@font-face {
    font-family:  'TypoPRO Rubik Mono';
    src:          url('TypoPRO-RubikMonoOne-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-RubikMonoOne-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-RubikMonoOne-Regular.woff') format('woff'),
                  url('TypoPRO-RubikMonoOne-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

