
/* TypoPRO Cooper Hewitt */
@font-face {
    font-family:  'TypoPRO Cooper Hewitt';
    src:          url('TypoPRO-CooperHewitt-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-CooperHewitt-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CooperHewitt-Bold.woff') format('woff'),
                  url('TypoPRO-CooperHewitt-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cooper Hewitt */
@font-face {
    font-family:  'TypoPRO Cooper Hewitt';
    src:          url('TypoPRO-CooperHewitt-BoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-CooperHewitt-BoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CooperHewitt-BoldItalic.woff') format('woff'),
                  url('TypoPRO-CooperHewitt-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cooper Hewitt */
@font-face {
    font-family:  'TypoPRO Cooper Hewitt';
    src:          url('TypoPRO-CooperHewitt-Book.eot');
    src:          local('*'),
                  url('TypoPRO-CooperHewitt-Book.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CooperHewitt-Book.woff') format('woff'),
                  url('TypoPRO-CooperHewitt-Book.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cooper Hewitt */
@font-face {
    font-family:  'TypoPRO Cooper Hewitt';
    src:          url('TypoPRO-CooperHewitt-BookItalic.eot');
    src:          local('*'),
                  url('TypoPRO-CooperHewitt-BookItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CooperHewitt-BookItalic.woff') format('woff'),
                  url('TypoPRO-CooperHewitt-BookItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cooper Hewitt */
@font-face {
    font-family:  'TypoPRO Cooper Hewitt';
    src:          url('TypoPRO-CooperHewitt-Heavy.eot');
    src:          local('*'),
                  url('TypoPRO-CooperHewitt-Heavy.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CooperHewitt-Heavy.woff') format('woff'),
                  url('TypoPRO-CooperHewitt-Heavy.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cooper Hewitt */
@font-face {
    font-family:  'TypoPRO Cooper Hewitt';
    src:          url('TypoPRO-CooperHewitt-HeavyItalic.eot');
    src:          local('*'),
                  url('TypoPRO-CooperHewitt-HeavyItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CooperHewitt-HeavyItalic.woff') format('woff'),
                  url('TypoPRO-CooperHewitt-HeavyItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cooper Hewitt */
@font-face {
    font-family:  'TypoPRO Cooper Hewitt';
    src:          url('TypoPRO-CooperHewitt-Light.eot');
    src:          local('*'),
                  url('TypoPRO-CooperHewitt-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CooperHewitt-Light.woff') format('woff'),
                  url('TypoPRO-CooperHewitt-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cooper Hewitt */
@font-face {
    font-family:  'TypoPRO Cooper Hewitt';
    src:          url('TypoPRO-CooperHewitt-LightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-CooperHewitt-LightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CooperHewitt-LightItalic.woff') format('woff'),
                  url('TypoPRO-CooperHewitt-LightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cooper Hewitt */
@font-face {
    font-family:  'TypoPRO Cooper Hewitt';
    src:          url('TypoPRO-CooperHewitt-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-CooperHewitt-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CooperHewitt-Medium.woff') format('woff'),
                  url('TypoPRO-CooperHewitt-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cooper Hewitt */
@font-face {
    font-family:  'TypoPRO Cooper Hewitt';
    src:          url('TypoPRO-CooperHewitt-MediumItalic.eot');
    src:          local('*'),
                  url('TypoPRO-CooperHewitt-MediumItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CooperHewitt-MediumItalic.woff') format('woff'),
                  url('TypoPRO-CooperHewitt-MediumItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cooper Hewitt */
@font-face {
    font-family:  'TypoPRO Cooper Hewitt';
    src:          url('TypoPRO-CooperHewitt-Semibold.eot');
    src:          local('*'),
                  url('TypoPRO-CooperHewitt-Semibold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CooperHewitt-Semibold.woff') format('woff'),
                  url('TypoPRO-CooperHewitt-Semibold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cooper Hewitt */
@font-face {
    font-family:  'TypoPRO Cooper Hewitt';
    src:          url('TypoPRO-CooperHewitt-SemiboldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-CooperHewitt-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CooperHewitt-SemiboldItalic.woff') format('woff'),
                  url('TypoPRO-CooperHewitt-SemiboldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cooper Hewitt */
@font-face {
    font-family:  'TypoPRO Cooper Hewitt';
    src:          url('TypoPRO-CooperHewitt-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-CooperHewitt-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CooperHewitt-Thin.woff') format('woff'),
                  url('TypoPRO-CooperHewitt-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cooper Hewitt */
@font-face {
    font-family:  'TypoPRO Cooper Hewitt';
    src:          url('TypoPRO-CooperHewitt-ThinItalic.eot');
    src:          local('*'),
                  url('TypoPRO-CooperHewitt-ThinItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CooperHewitt-ThinItalic.woff') format('woff'),
                  url('TypoPRO-CooperHewitt-ThinItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}

