
/* TypoPRO Inconsolata ExtraCondensed SemiBold */
@font-face {
    font-family:  'TypoPRO Inconsolata';
    src:          url('TypoPRO-Inconsolata-ExtraCondensedSemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-Inconsolata-ExtraCondensedSemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Inconsolata-ExtraCondensedSemiBold.woff') format('woff'),
                  url('TypoPRO-Inconsolata-ExtraCondensedSemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: extra-condensed;
    font-variant: normal;
}

