
/* TypoPRO Inconsolata SemiCondensed Regular */
@font-face {
    font-family:  'TypoPRO Inconsolata';
    src:          url('TypoPRO-Inconsolata-SemiCondensedRegular.eot');
    src:          local('*'),
                  url('TypoPRO-Inconsolata-SemiCondensedRegular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Inconsolata-SemiCondensedRegular.woff') format('woff'),
                  url('TypoPRO-Inconsolata-SemiCondensedRegular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: semi-condensed;
    font-variant: normal;
}

