
/* TypoPRO Inconsolata ExtraCondensed ExtraLight */
@font-face {
    font-family:  'TypoPRO Inconsolata';
    src:          url('TypoPRO-Inconsolata-ExtraCondensedExtraLight.eot');
    src:          local('*'),
                  url('TypoPRO-Inconsolata-ExtraCondensedExtraLight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Inconsolata-ExtraCondensedExtraLight.woff') format('woff'),
                  url('TypoPRO-Inconsolata-ExtraCondensedExtraLight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: extra-condensed;
    font-variant: normal;
}

