
/* TypoPRO M+ 2c */
@font-face {
    font-family:  'TypoPRO Mplus 2C';
    src:          url('TypoPRO-Mplus2c-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2c-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2c-Regular.woff') format('woff'),
                  url('TypoPRO-Mplus2c-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

