
/* TypoPRO M+ 2m */
@font-face {
    font-family:  'TypoPRO Mplus 2M';
    src:          url('TypoPRO-Mplus2m-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2m-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2m-Regular.woff') format('woff'),
                  url('TypoPRO-Mplus2m-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

