
/* TypoPRO M+ 2c thin */
@font-face {
    font-family:  'TypoPRO Mplus 2C';
    src:          url('TypoPRO-Mplus2c-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2c-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2c-Thin.woff') format('woff'),
                  url('TypoPRO-Mplus2c-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}

