
/* TypoPRO M+ 1c black */
@font-face {
    font-family:  'TypoPRO Mplus 1C';
    src:          url('TypoPRO-Mplus1c-Black.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1c-Black.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1c-Black.woff') format('woff'),
                  url('TypoPRO-Mplus1c-Black.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1c bold */
@font-face {
    font-family:  'TypoPRO Mplus 1C';
    src:          url('TypoPRO-Mplus1c-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1c-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1c-Bold.woff') format('woff'),
                  url('TypoPRO-Mplus1c-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1c heavy */
@font-face {
    font-family:  'TypoPRO Mplus 1C';
    src:          url('TypoPRO-Mplus1c-Heavy.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1c-Heavy.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1c-Heavy.woff') format('woff'),
                  url('TypoPRO-Mplus1c-Heavy.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1c light */
@font-face {
    font-family:  'TypoPRO Mplus 1C';
    src:          url('TypoPRO-Mplus1c-Light.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1c-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1c-Light.woff') format('woff'),
                  url('TypoPRO-Mplus1c-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1c medium */
@font-face {
    font-family:  'TypoPRO Mplus 1C';
    src:          url('TypoPRO-Mplus1c-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1c-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1c-Medium.woff') format('woff'),
                  url('TypoPRO-Mplus1c-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1c */
@font-face {
    font-family:  'TypoPRO Mplus 1C';
    src:          url('TypoPRO-Mplus1c-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1c-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1c-Regular.woff') format('woff'),
                  url('TypoPRO-Mplus1c-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1c thin */
@font-face {
    font-family:  'TypoPRO Mplus 1C';
    src:          url('TypoPRO-Mplus1c-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1c-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1c-Thin.woff') format('woff'),
                  url('TypoPRO-Mplus1c-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1m bold */
@font-face {
    font-family:  'TypoPRO Mplus 1M';
    src:          url('TypoPRO-Mplus1m-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1m-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1m-Bold.woff') format('woff'),
                  url('TypoPRO-Mplus1m-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1m light */
@font-face {
    font-family:  'TypoPRO Mplus 1M';
    src:          url('TypoPRO-Mplus1m-Light.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1m-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1m-Light.woff') format('woff'),
                  url('TypoPRO-Mplus1m-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1m medium */
@font-face {
    font-family:  'TypoPRO Mplus 1M';
    src:          url('TypoPRO-Mplus1m-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1m-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1m-Medium.woff') format('woff'),
                  url('TypoPRO-Mplus1m-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1m */
@font-face {
    font-family:  'TypoPRO Mplus 1M';
    src:          url('TypoPRO-Mplus1m-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1m-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1m-Regular.woff') format('woff'),
                  url('TypoPRO-Mplus1m-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1m thin */
@font-face {
    font-family:  'TypoPRO Mplus 1M';
    src:          url('TypoPRO-Mplus1m-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1m-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1m-Thin.woff') format('woff'),
                  url('TypoPRO-Mplus1m-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1mn bold */
@font-face {
    font-family:  'TypoPRO Mplus 1MN';
    src:          url('TypoPRO-Mplus1mn-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1mn-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1mn-Bold.woff') format('woff'),
                  url('TypoPRO-Mplus1mn-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1mn light */
@font-face {
    font-family:  'TypoPRO Mplus 1MN';
    src:          url('TypoPRO-Mplus1mn-Light.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1mn-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1mn-Light.woff') format('woff'),
                  url('TypoPRO-Mplus1mn-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1mn medium */
@font-face {
    font-family:  'TypoPRO Mplus 1MN';
    src:          url('TypoPRO-Mplus1mn-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1mn-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1mn-Medium.woff') format('woff'),
                  url('TypoPRO-Mplus1mn-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1mn */
@font-face {
    font-family:  'TypoPRO Mplus 1MN';
    src:          url('TypoPRO-Mplus1mn-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1mn-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1mn-Regular.woff') format('woff'),
                  url('TypoPRO-Mplus1mn-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1mn thin */
@font-face {
    font-family:  'TypoPRO Mplus 1MN';
    src:          url('TypoPRO-Mplus1mn-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1mn-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1mn-Thin.woff') format('woff'),
                  url('TypoPRO-Mplus1mn-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1p black */
@font-face {
    font-family:  'TypoPRO Mplus 1P';
    src:          url('TypoPRO-Mplus1p-Black.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1p-Black.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1p-Black.woff') format('woff'),
                  url('TypoPRO-Mplus1p-Black.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1p bold */
@font-face {
    font-family:  'TypoPRO Mplus 1P';
    src:          url('TypoPRO-Mplus1p-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1p-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1p-Bold.woff') format('woff'),
                  url('TypoPRO-Mplus1p-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1p heavy */
@font-face {
    font-family:  'TypoPRO Mplus 1P';
    src:          url('TypoPRO-Mplus1p-Heavy.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1p-Heavy.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1p-Heavy.woff') format('woff'),
                  url('TypoPRO-Mplus1p-Heavy.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1p light */
@font-face {
    font-family:  'TypoPRO Mplus 1P';
    src:          url('TypoPRO-Mplus1p-Light.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1p-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1p-Light.woff') format('woff'),
                  url('TypoPRO-Mplus1p-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1p medium */
@font-face {
    font-family:  'TypoPRO Mplus 1P';
    src:          url('TypoPRO-Mplus1p-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1p-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1p-Medium.woff') format('woff'),
                  url('TypoPRO-Mplus1p-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1p */
@font-face {
    font-family:  'TypoPRO Mplus 1P';
    src:          url('TypoPRO-Mplus1p-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1p-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1p-Regular.woff') format('woff'),
                  url('TypoPRO-Mplus1p-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 1p thin */
@font-face {
    font-family:  'TypoPRO Mplus 1P';
    src:          url('TypoPRO-Mplus1p-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus1p-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus1p-Thin.woff') format('woff'),
                  url('TypoPRO-Mplus1p-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 2c black */
@font-face {
    font-family:  'TypoPRO Mplus 2C';
    src:          url('TypoPRO-Mplus2c-Black.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2c-Black.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2c-Black.woff') format('woff'),
                  url('TypoPRO-Mplus2c-Black.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 2c bold */
@font-face {
    font-family:  'TypoPRO Mplus 2C';
    src:          url('TypoPRO-Mplus2c-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2c-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2c-Bold.woff') format('woff'),
                  url('TypoPRO-Mplus2c-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 2c heavy */
@font-face {
    font-family:  'TypoPRO Mplus 2C';
    src:          url('TypoPRO-Mplus2c-Heavy.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2c-Heavy.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2c-Heavy.woff') format('woff'),
                  url('TypoPRO-Mplus2c-Heavy.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 2c light */
@font-face {
    font-family:  'TypoPRO Mplus 2C';
    src:          url('TypoPRO-Mplus2c-Light.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2c-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2c-Light.woff') format('woff'),
                  url('TypoPRO-Mplus2c-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 2c medium */
@font-face {
    font-family:  'TypoPRO Mplus 2C';
    src:          url('TypoPRO-Mplus2c-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2c-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2c-Medium.woff') format('woff'),
                  url('TypoPRO-Mplus2c-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 2c */
@font-face {
    font-family:  'TypoPRO Mplus 2C';
    src:          url('TypoPRO-Mplus2c-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2c-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2c-Regular.woff') format('woff'),
                  url('TypoPRO-Mplus2c-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 2c thin */
@font-face {
    font-family:  'TypoPRO Mplus 2C';
    src:          url('TypoPRO-Mplus2c-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2c-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2c-Thin.woff') format('woff'),
                  url('TypoPRO-Mplus2c-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 2m bold */
@font-face {
    font-family:  'TypoPRO Mplus 2M';
    src:          url('TypoPRO-Mplus2m-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2m-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2m-Bold.woff') format('woff'),
                  url('TypoPRO-Mplus2m-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 2m light */
@font-face {
    font-family:  'TypoPRO Mplus 2M';
    src:          url('TypoPRO-Mplus2m-Light.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2m-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2m-Light.woff') format('woff'),
                  url('TypoPRO-Mplus2m-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 2m medium */
@font-face {
    font-family:  'TypoPRO Mplus 2M';
    src:          url('TypoPRO-Mplus2m-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2m-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2m-Medium.woff') format('woff'),
                  url('TypoPRO-Mplus2m-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 2m */
@font-face {
    font-family:  'TypoPRO Mplus 2M';
    src:          url('TypoPRO-Mplus2m-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2m-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2m-Regular.woff') format('woff'),
                  url('TypoPRO-Mplus2m-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 2m thin */
@font-face {
    font-family:  'TypoPRO Mplus 2M';
    src:          url('TypoPRO-Mplus2m-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2m-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2m-Thin.woff') format('woff'),
                  url('TypoPRO-Mplus2m-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 2p black */
@font-face {
    font-family:  'TypoPRO Mplus 2P';
    src:          url('TypoPRO-Mplus2p-Black.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2p-Black.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2p-Black.woff') format('woff'),
                  url('TypoPRO-Mplus2p-Black.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 2p bold */
@font-face {
    font-family:  'TypoPRO Mplus 2P';
    src:          url('TypoPRO-Mplus2p-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2p-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2p-Bold.woff') format('woff'),
                  url('TypoPRO-Mplus2p-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 2p heavy */
@font-face {
    font-family:  'TypoPRO Mplus 2P';
    src:          url('TypoPRO-Mplus2p-Heavy.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2p-Heavy.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2p-Heavy.woff') format('woff'),
                  url('TypoPRO-Mplus2p-Heavy.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 2p light */
@font-face {
    font-family:  'TypoPRO Mplus 2P';
    src:          url('TypoPRO-Mplus2p-Light.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2p-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2p-Light.woff') format('woff'),
                  url('TypoPRO-Mplus2p-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 2p medium */
@font-face {
    font-family:  'TypoPRO Mplus 2P';
    src:          url('TypoPRO-Mplus2p-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2p-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2p-Medium.woff') format('woff'),
                  url('TypoPRO-Mplus2p-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 2p */
@font-face {
    font-family:  'TypoPRO Mplus 2P';
    src:          url('TypoPRO-Mplus2p-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2p-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2p-Regular.woff') format('woff'),
                  url('TypoPRO-Mplus2p-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO M+ 2p thin */
@font-face {
    font-family:  'TypoPRO Mplus 2P';
    src:          url('TypoPRO-Mplus2p-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2p-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2p-Thin.woff') format('woff'),
                  url('TypoPRO-Mplus2p-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}

