
/* TypoPRO Cooper Hewitt */
@font-face {
    font-family:  'TypoPRO Cooper Hewitt';
    src:          url('TypoPRO-CooperHewitt-SemiboldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-CooperHewitt-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CooperHewitt-SemiboldItalic.woff') format('woff'),
                  url('TypoPRO-CooperHewitt-SemiboldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}

