
/* TypoPRO Cooper Hewitt */
@font-face {
    font-family:  'TypoPRO Cooper Hewitt';
    src:          url('TypoPRO-CooperHewitt-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-CooperHewitt-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CooperHewitt-Thin.woff') format('woff'),
                  url('TypoPRO-CooperHewitt-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}

