
/* TypoPRO IBM Plex Sans Condensed Light Italic */
@font-face {
    font-family:  'TypoPRO IBM Plex Condensed';
    src:          url('TypoPRO-IBMPlexSansCondensed-LightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-IBMPlexSansCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-IBMPlexSansCondensed-LightItalic.woff') format('woff'),
                  url('TypoPRO-IBMPlexSansCondensed-LightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  300;
    font-stretch: condensed;
    font-variant: normal;
}

