
/* TypoPRO IBM Plex Sans SemiBold Italic */
@font-face {
    font-family:  'TypoPRO IBM Plex Sans';
    src:          url('TypoPRO-IBMPlexSans-SemiBoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-IBMPlexSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-IBMPlexSans-SemiBoldItalic.woff') format('woff'),
                  url('TypoPRO-IBMPlexSans-SemiBoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

