
/* TypoPRO IBM Plex Sans Medium Italic */
@font-face {
    font-family:  'TypoPRO IBM Plex Sans';
    src:          url('TypoPRO-IBMPlexSans-MediumItalic.eot');
    src:          local('*'),
                  url('TypoPRO-IBMPlexSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-IBMPlexSans-MediumItalic.woff') format('woff'),
                  url('TypoPRO-IBMPlexSans-MediumItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}

