
/* TypoPRO CommeMono */
@font-face {
    font-family:  'TypoPRO Comme Mono';
    src:          url('TypoPRO-CommeMono-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-CommeMono-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CommeMono-Regular.woff') format('woff'),
                  url('TypoPRO-CommeMono-Regular.ttf') format('truetype'),
                  url('TypoPRO-CommeMono-Regular.svgz#TypoPRO-CommeMono') format('svg');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

