
/* TypoPRO Lato Hairline */
@font-face {
    font-family:  'TypoPRO Lato Hairline';
    src:          url('TypoPRO-Lato-HairItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Lato-HairItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Lato-HairItalic.woff') format('woff'),
                  url('TypoPRO-Lato-HairItalic.ttf') format('truetype'),
                  url('TypoPRO-Lato-HairItalic.svgz#TypoPRO-Lato-HairlineItalic') format('svg');
    font-style:   italic;
    font-weight:  265;
    font-stretch: normal;
    font-variant: normal;
}

