
/* TypoPRO Lato Black */
@font-face {
    font-family:  'TypoPRO Lato Black';
    src:          url('TypoPRO-Lato-Bla.eot');
    src:          local('*'),
                  url('TypoPRO-Lato-Bla.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Lato-Bla.woff') format('woff'),
                  url('TypoPRO-Lato-Bla.ttf') format('truetype'),
                  url('TypoPRO-Lato-Bla.svgz#TypoPRO-Lato-Black') format('svg');
    font-style:   normal;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Lato Black */
@font-face {
    font-family:  'TypoPRO Lato Black';
    src:          url('TypoPRO-Lato-BlaIta.eot');
    src:          local('*'),
                  url('TypoPRO-Lato-BlaIta.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Lato-BlaIta.woff') format('woff'),
                  url('TypoPRO-Lato-BlaIta.ttf') format('truetype'),
                  url('TypoPRO-Lato-BlaIta.svgz#TypoPRO-Lato-BlackItalic') format('svg');
    font-style:   italic;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Lato-Bold */
@font-face {
    font-family:  'TypoPRO Lato';
    src:          url('TypoPRO-Lato-Bol.eot');
    src:          local('*'),
                  url('TypoPRO-Lato-Bol.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Lato-Bol.woff') format('woff'),
                  url('TypoPRO-Lato-Bol.ttf') format('truetype'),
                  url('TypoPRO-Lato-Bol.svgz#TypoPRO-Lato-Bold') format('svg');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Lato-BoldItalic */
@font-face {
    font-family:  'TypoPRO Lato';
    src:          url('TypoPRO-Lato-BolIta.eot');
    src:          local('*'),
                  url('TypoPRO-Lato-BolIta.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Lato-BolIta.woff') format('woff'),
                  url('TypoPRO-Lato-BolIta.ttf') format('truetype'),
                  url('TypoPRO-Lato-BolIta.svgz#TypoPRO-Lato-BoldItalic') format('svg');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Lato Hairline */
@font-face {
    font-family:  'TypoPRO Lato Hairline';
    src:          url('TypoPRO-Lato-Hai.eot');
    src:          local('*'),
                  url('TypoPRO-Lato-Hai.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Lato-Hai.woff') format('woff'),
                  url('TypoPRO-Lato-Hai.ttf') format('truetype'),
                  url('TypoPRO-Lato-Hai.svgz#TypoPRO-Lato-Hairline') format('svg');
    font-style:   normal;
    font-weight:  265;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Lato Hairline */
@font-face {
    font-family:  'TypoPRO Lato Hairline';
    src:          url('TypoPRO-Lato-HaiIta.eot');
    src:          local('*'),
                  url('TypoPRO-Lato-HaiIta.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Lato-HaiIta.woff') format('woff'),
                  url('TypoPRO-Lato-HaiIta.ttf') format('truetype'),
                  url('TypoPRO-Lato-HaiIta.svgz#TypoPRO-Lato-HairlineItalic') format('svg');
    font-style:   italic;
    font-weight:  265;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Lato Light */
@font-face {
    font-family:  'TypoPRO Lato Light';
    src:          url('TypoPRO-Lato-Lig.eot');
    src:          local('*'),
                  url('TypoPRO-Lato-Lig.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Lato-Lig.woff') format('woff'),
                  url('TypoPRO-Lato-Lig.ttf') format('truetype'),
                  url('TypoPRO-Lato-Lig.svgz#TypoPRO-Lato-Light') format('svg');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Lato Light */
@font-face {
    font-family:  'TypoPRO Lato Light';
    src:          url('TypoPRO-Lato-LigIta.eot');
    src:          local('*'),
                  url('TypoPRO-Lato-LigIta.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Lato-LigIta.woff') format('woff'),
                  url('TypoPRO-Lato-LigIta.ttf') format('truetype'),
                  url('TypoPRO-Lato-LigIta.svgz#TypoPRO-Lato-LightItalic') format('svg');
    font-style:   italic;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Lato-Regular */
@font-face {
    font-family:  'TypoPRO Lato';
    src:          url('TypoPRO-Lato-Reg.eot');
    src:          local('*'),
                  url('TypoPRO-Lato-Reg.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Lato-Reg.woff') format('woff'),
                  url('TypoPRO-Lato-Reg.ttf') format('truetype'),
                  url('TypoPRO-Lato-Reg.svgz#TypoPRO-Lato-Regular') format('svg');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Lato-Italic */
@font-face {
    font-family:  'TypoPRO Lato';
    src:          url('TypoPRO-Lato-RegIta.eot');
    src:          local('*'),
                  url('TypoPRO-Lato-RegIta.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Lato-RegIta.woff') format('woff'),
                  url('TypoPRO-Lato-RegIta.ttf') format('truetype'),
                  url('TypoPRO-Lato-RegIta.svgz#TypoPRO-Lato-Italic') format('svg');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

