
/* TypoPRO Lato-Italic */
@font-face {
    font-family:  'TypoPRO Lato';
    src:          url('TypoPRO-Lato-RegIta.eot');
    src:          local('*'),
                  url('TypoPRO-Lato-RegIta.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Lato-RegIta.woff') format('woff'),
                  url('TypoPRO-Lato-RegIta.ttf') format('truetype'),
                  url('TypoPRO-Lato-RegIta.svgz#TypoPRO-Lato-Italic') format('svg');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

