
/* TypoPRO Lexend Light */
@font-face {
    font-family:  'TypoPRO Lexend';
    src:          url('TypoPRO-Lexend-Light.eot');
    src:          local('*'),
                  url('TypoPRO-Lexend-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Lexend-Light.woff') format('woff'),
                  url('TypoPRO-Lexend-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}

