
/* TypoPRO Alegreya Sans SC Bold */
@font-face {
    font-family:  'TypoPRO Alegreya Sans SC';
    src:          url('TypoPRO-AlegreyaSansSC-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-AlegreyaSansSC-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-AlegreyaSansSC-Bold.woff') format('woff'),
                  url('TypoPRO-AlegreyaSansSC-Bold.ttf') format('truetype'),
                  url('TypoPRO-AlegreyaSansSC-Bold.svgz#TypoPRO-AlegreyaSansSC-Bold') format('svg');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

