
/* TypoPRO Alegreya SC Bold Italic */
@font-face {
    font-family:  'TypoPRO Alegreya SC';
    src:          url('TypoPRO-AlegreyaSC-BoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-AlegreyaSC-BoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-AlegreyaSC-BoldItalic.woff') format('woff'),
                  url('TypoPRO-AlegreyaSC-BoldItalic.ttf') format('truetype'),
                  url('TypoPRO-AlegreyaSC-BoldItalic.svgz#TypoPRO-AlegreyaSC-BoldItalic') format('svg');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

