
/* TypoPRO Libertinus Keyboard Regular */
@font-face {
    font-family:  'TypoPRO Libertinus Keyboard';
    src:          url('TypoPRO-LibertinusKeyboard-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-LibertinusKeyboard-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-LibertinusKeyboard-Regular.woff') format('woff'),
                  url('TypoPRO-LibertinusKeyboard-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Libertinus Math Regular */
@font-face {
    font-family:  'TypoPRO Libertinus Math';
    src:          url('TypoPRO-LibertinusMath-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-LibertinusMath-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-LibertinusMath-Regular.woff') format('woff'),
                  url('TypoPRO-LibertinusMath-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Libertinus Mono Regular */
@font-face {
    font-family:  'TypoPRO Libertinus Mono';
    src:          url('TypoPRO-LibertinusMono-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-LibertinusMono-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-LibertinusMono-Regular.woff') format('woff'),
                  url('TypoPRO-LibertinusMono-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Libertinus Sans Bold */
@font-face {
    font-family:  'TypoPRO Libertinus Sans';
    src:          url('TypoPRO-LibertinusSans-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-LibertinusSans-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-LibertinusSans-Bold.woff') format('woff'),
                  url('TypoPRO-LibertinusSans-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Libertinus Sans Italic */
@font-face {
    font-family:  'TypoPRO Libertinus Sans';
    src:          url('TypoPRO-LibertinusSans-Italic.eot');
    src:          local('*'),
                  url('TypoPRO-LibertinusSans-Italic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-LibertinusSans-Italic.woff') format('woff'),
                  url('TypoPRO-LibertinusSans-Italic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Libertinus Sans Regular */
@font-face {
    font-family:  'TypoPRO Libertinus Sans';
    src:          url('TypoPRO-LibertinusSans-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-LibertinusSans-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-LibertinusSans-Regular.woff') format('woff'),
                  url('TypoPRO-LibertinusSans-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Libertinus Serif Bold */
@font-face {
    font-family:  'TypoPRO Libertinus Serif';
    src:          url('TypoPRO-LibertinusSerif-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-LibertinusSerif-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-LibertinusSerif-Bold.woff') format('woff'),
                  url('TypoPRO-LibertinusSerif-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Libertinus Serif Bold Italic */
@font-face {
    font-family:  'TypoPRO Libertinus Serif';
    src:          url('TypoPRO-LibertinusSerif-BoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-LibertinusSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-LibertinusSerif-BoldItalic.woff') format('woff'),
                  url('TypoPRO-LibertinusSerif-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Libertinus Serif Italic */
@font-face {
    font-family:  'TypoPRO Libertinus Serif';
    src:          url('TypoPRO-LibertinusSerif-Italic.eot');
    src:          local('*'),
                  url('TypoPRO-LibertinusSerif-Italic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-LibertinusSerif-Italic.woff') format('woff'),
                  url('TypoPRO-LibertinusSerif-Italic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Libertinus Serif Regular */
@font-face {
    font-family:  'TypoPRO Libertinus Serif';
    src:          url('TypoPRO-LibertinusSerif-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-LibertinusSerif-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-LibertinusSerif-Regular.woff') format('woff'),
                  url('TypoPRO-LibertinusSerif-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Libertinus Serif Semibold */
@font-face {
    font-family:  'TypoPRO Libertinus Serif';
    src:          url('TypoPRO-LibertinusSerif-Semibold.eot');
    src:          local('*'),
                  url('TypoPRO-LibertinusSerif-Semibold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-LibertinusSerif-Semibold.woff') format('woff'),
                  url('TypoPRO-LibertinusSerif-Semibold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Libertinus Serif Semibold Italic */
@font-face {
    font-family:  'TypoPRO Libertinus Serif';
    src:          url('TypoPRO-LibertinusSerif-SemiboldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-LibertinusSerif-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-LibertinusSerif-SemiboldItalic.woff') format('woff'),
                  url('TypoPRO-LibertinusSerif-SemiboldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Libertinus Serif Display Regular */
@font-face {
    font-family:  'TypoPRO Libertinus Serif Display';
    src:          url('TypoPRO-LibertinusSerifDisplay-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-LibertinusSerifDisplay-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-LibertinusSerifDisplay-Regular.woff') format('woff'),
                  url('TypoPRO-LibertinusSerifDisplay-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Libertinus Serif Initials Regular */
@font-face {
    font-family:  'TypoPRO Libertinus Serif Initials';
    src:          url('TypoPRO-LibertinusSerifInitials-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-LibertinusSerifInitials-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-LibertinusSerifInitials-Regular.woff') format('woff'),
                  url('TypoPRO-LibertinusSerifInitials-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

