
/* TypoPRO Linux Biolinum Keyboard O */
@font-face {
    font-family:  'TypoPRO Linux Biolinum Keyboard';
    src:          url('TypoPRO-LinuxBiolinumKeyboard-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-LinuxBiolinumKeyboard-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-LinuxBiolinumKeyboard-Regular.woff') format('woff'),
                  url('TypoPRO-LinuxBiolinumKeyboard-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

