
/* TypoPRO Merriweather Black Italic */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-BlackItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-BlackItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-BlackItalic.woff') format('woff'),
                  url('TypoPRO-Merriweather-BlackItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}

