
/* TypoPRO Merriweather 12pt Black */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-Black.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-Black.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-Black.woff') format('woff'),
                  url('TypoPRO-Merriweather-Black.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Merriweather Text Black  */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-BlackItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-BlackItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-BlackItalic.woff') format('woff'),
                  url('TypoPRO-Merriweather-BlackItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Merriweather Text Regular */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-Bold.woff') format('woff'),
                  url('TypoPRO-Merriweather-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Merriweather Text Regular */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-BoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-BoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-BoldItalic.woff') format('woff'),
                  url('TypoPRO-Merriweather-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Merriweather Text Regular */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-Italic.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-Italic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-Italic.woff') format('woff'),
                  url('TypoPRO-Merriweather-Italic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Merriweather 12pt Light */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-Light.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-Light.woff') format('woff'),
                  url('TypoPRO-Merriweather-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Merriweather Text Light */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-LightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-LightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-LightItalic.woff') format('woff'),
                  url('TypoPRO-Merriweather-LightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Merriweather 12pt Regular */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-Regular.woff') format('woff'),
                  url('TypoPRO-Merriweather-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Merriweather 12pt SemiCondensed Black */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-SemiCondensedBlack.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-SemiCondensedBlack.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-SemiCondensedBlack.woff') format('woff'),
                  url('TypoPRO-Merriweather-SemiCondensedBlack.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: semi-condensed;
    font-variant: normal;
}


/* TypoPRO Merriweather Text SemiCondensed Black */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-SemiCondensedBlackItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-SemiCondensedBlackItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-SemiCondensedBlackItalic.woff') format('woff'),
                  url('TypoPRO-Merriweather-SemiCondensedBlackItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  900;
    font-stretch: semi-expanded;
    font-variant: normal;
}


/* TypoPRO Merriweather Text SemiCondensed Regular */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-SemiCondensedBold.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-SemiCondensedBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-SemiCondensedBold.woff') format('woff'),
                  url('TypoPRO-Merriweather-SemiCondensedBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: semi-condensed;
    font-variant: normal;
}


/* TypoPRO Merriweather Text SemiCondensed Regular */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-SemiCondensedBoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-SemiCondensedBoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-SemiCondensedBoldItalic.woff') format('woff'),
                  url('TypoPRO-Merriweather-SemiCondensedBoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: semi-condensed;
    font-variant: normal;
}


/* TypoPRO Merriweather Text SemiCondensed Regular */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-SemiCondensedItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-SemiCondensedItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-SemiCondensedItalic.woff') format('woff'),
                  url('TypoPRO-Merriweather-SemiCondensedItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: semi-condensed;
    font-variant: normal;
}


/* TypoPRO Merriweather 12pt SemiCondensed Light */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-SemiCondensedLight.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-SemiCondensedLight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-SemiCondensedLight.woff') format('woff'),
                  url('TypoPRO-Merriweather-SemiCondensedLight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: semi-condensed;
    font-variant: normal;
}


/* TypoPRO Merriweather Text SemiCondensed Light */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-SemiCondensedLightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-SemiCondensedLightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-SemiCondensedLightItalic.woff') format('woff'),
                  url('TypoPRO-Merriweather-SemiCondensedLightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  200;
    font-stretch: semi-condensed;
    font-variant: normal;
}


/* TypoPRO Merriweather 12pt SemiCondensed Regular */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-SemiCondensedRegular.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-SemiCondensedRegular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-SemiCondensedRegular.woff') format('woff'),
                  url('TypoPRO-Merriweather-SemiCondensedRegular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: semi-condensed;
    font-variant: normal;
}


/* TypoPRO Merriweather 12pt SemiExpanded Black */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-SemiExpandedBlack.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-SemiExpandedBlack.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-SemiExpandedBlack.woff') format('woff'),
                  url('TypoPRO-Merriweather-SemiExpandedBlack.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: semi-expanded;
    font-variant: normal;
}


/* TypoPRO Merriweather Text SemiExpanded Black */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-SemiExpandedBlackItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-SemiExpandedBlackItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-SemiExpandedBlackItalic.woff') format('woff'),
                  url('TypoPRO-Merriweather-SemiExpandedBlackItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  900;
    font-stretch: semi-expanded;
    font-variant: normal;
}


/* TypoPRO Merriweather Text SemiExpanded Regular */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-SemiExpandedBold.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-SemiExpandedBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-SemiExpandedBold.woff') format('woff'),
                  url('TypoPRO-Merriweather-SemiExpandedBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: semi-expanded;
    font-variant: normal;
}


/* TypoPRO Merriweather Text SemiExpanded Regular */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-SemiExpandedBoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-SemiExpandedBoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-SemiExpandedBoldItalic.woff') format('woff'),
                  url('TypoPRO-Merriweather-SemiExpandedBoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: semi-expanded;
    font-variant: normal;
}


/* TypoPRO Merriweather Text SemiExpanded Regular */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-SemiExpandedItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-SemiExpandedItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-SemiExpandedItalic.woff') format('woff'),
                  url('TypoPRO-Merriweather-SemiExpandedItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: semi-expanded;
    font-variant: normal;
}


/* TypoPRO Merriweather 12pt SemiExpanded Light */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-SemiExpandedLight.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-SemiExpandedLight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-SemiExpandedLight.woff') format('woff'),
                  url('TypoPRO-Merriweather-SemiExpandedLight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: semi-expanded;
    font-variant: normal;
}


/* TypoPRO Merriweather Text SemiExpanded Light */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-SemiExpandedLightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-SemiExpandedLightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-SemiExpandedLightItalic.woff') format('woff'),
                  url('TypoPRO-Merriweather-SemiExpandedLightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  200;
    font-stretch: semi-expanded;
    font-variant: normal;
}


/* TypoPRO Merriweather 12pt SemiExpanded Regular */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-SemiExpandedRegular.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-SemiExpandedRegular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-SemiExpandedRegular.woff') format('woff'),
                  url('TypoPRO-Merriweather-SemiExpandedRegular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: semi-expanded;
    font-variant: normal;
}


/* TypoPRO Merriweather Sans Bold */
@font-face {
    font-family:  'TypoPRO Merriweather Sans';
    src:          url('TypoPRO-MerriweatherSans-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-MerriweatherSans-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-MerriweatherSans-Bold.woff') format('woff'),
                  url('TypoPRO-MerriweatherSans-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Merriweather Sans Bold Italic */
@font-face {
    font-family:  'TypoPRO Merriweather Sans';
    src:          url('TypoPRO-MerriweatherSans-BoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-MerriweatherSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-MerriweatherSans-BoldItalic.woff') format('woff'),
                  url('TypoPRO-MerriweatherSans-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Merriweather Sans ExtraBold */
@font-face {
    font-family:  'TypoPRO Merriweather Sans';
    src:          url('TypoPRO-MerriweatherSans-ExtraBold.eot');
    src:          local('*'),
                  url('TypoPRO-MerriweatherSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-MerriweatherSans-ExtraBold.woff') format('woff'),
                  url('TypoPRO-MerriweatherSans-ExtraBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Merriweather Sans ExtraBold Italic */
@font-face {
    font-family:  'TypoPRO Merriweather Sans';
    src:          url('TypoPRO-MerriweatherSans-ExtraBoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-MerriweatherSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-MerriweatherSans-ExtraBoldItalic.woff') format('woff'),
                  url('TypoPRO-MerriweatherSans-ExtraBoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Merriweather Sans Italic */
@font-face {
    font-family:  'TypoPRO Merriweather Sans';
    src:          url('TypoPRO-MerriweatherSans-Italic.eot');
    src:          local('*'),
                  url('TypoPRO-MerriweatherSans-Italic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-MerriweatherSans-Italic.woff') format('woff'),
                  url('TypoPRO-MerriweatherSans-Italic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Merriweather Sans Light */
@font-face {
    font-family:  'TypoPRO Merriweather Sans';
    src:          url('TypoPRO-MerriweatherSans-Light.eot');
    src:          local('*'),
                  url('TypoPRO-MerriweatherSans-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-MerriweatherSans-Light.woff') format('woff'),
                  url('TypoPRO-MerriweatherSans-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Merriweather Sans Light Italic */
@font-face {
    font-family:  'TypoPRO Merriweather Sans';
    src:          url('TypoPRO-MerriweatherSans-LightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-MerriweatherSans-LightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-MerriweatherSans-LightItalic.woff') format('woff'),
                  url('TypoPRO-MerriweatherSans-LightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Merriweather Sans Regular */
@font-face {
    font-family:  'TypoPRO Merriweather Sans';
    src:          url('TypoPRO-MerriweatherSans-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-MerriweatherSans-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-MerriweatherSans-Regular.woff') format('woff'),
                  url('TypoPRO-MerriweatherSans-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

