
/* TypoPRO Source Code Pro Black */
@font-face {
    font-family:  'TypoPRO Source Code Pro';
    src:          url('TypoPRO-SourceCodePro-Black.eot');
    src:          local('*'),
                  url('TypoPRO-SourceCodePro-Black.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceCodePro-Black.woff') format('woff'),
                  url('TypoPRO-SourceCodePro-Black.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Code Pro Black Italic */
@font-face {
    font-family:  'TypoPRO Source Code Pro';
    src:          url('TypoPRO-SourceCodePro-BlackIt.eot');
    src:          local('*'),
                  url('TypoPRO-SourceCodePro-BlackIt.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceCodePro-BlackIt.woff') format('woff'),
                  url('TypoPRO-SourceCodePro-BlackIt.ttf') format('truetype');
    font-style:   italic;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Code Pro Bold */
@font-face {
    font-family:  'TypoPRO Source Code Pro';
    src:          url('TypoPRO-SourceCodePro-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-SourceCodePro-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceCodePro-Bold.woff') format('woff'),
                  url('TypoPRO-SourceCodePro-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Code Pro Bold Italic */
@font-face {
    font-family:  'TypoPRO Source Code Pro';
    src:          url('TypoPRO-SourceCodePro-BoldIt.eot');
    src:          local('*'),
                  url('TypoPRO-SourceCodePro-BoldIt.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceCodePro-BoldIt.woff') format('woff'),
                  url('TypoPRO-SourceCodePro-BoldIt.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Code Pro ExtraLight */
@font-face {
    font-family:  'TypoPRO Source Code Pro';
    src:          url('TypoPRO-SourceCodePro-ExtraLight.eot');
    src:          local('*'),
                  url('TypoPRO-SourceCodePro-ExtraLight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceCodePro-ExtraLight.woff') format('woff'),
                  url('TypoPRO-SourceCodePro-ExtraLight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Code Pro ExtraLight Italic */
@font-face {
    font-family:  'TypoPRO Source Code Pro';
    src:          url('TypoPRO-SourceCodePro-ExtraLightIt.eot');
    src:          local('*'),
                  url('TypoPRO-SourceCodePro-ExtraLightIt.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceCodePro-ExtraLightIt.woff') format('woff'),
                  url('TypoPRO-SourceCodePro-ExtraLightIt.ttf') format('truetype');
    font-style:   italic;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Code Pro Italic */
@font-face {
    font-family:  'TypoPRO Source Code Pro';
    src:          url('TypoPRO-SourceCodePro-It.eot');
    src:          local('*'),
                  url('TypoPRO-SourceCodePro-It.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceCodePro-It.woff') format('woff'),
                  url('TypoPRO-SourceCodePro-It.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Code Pro Light */
@font-face {
    font-family:  'TypoPRO Source Code Pro';
    src:          url('TypoPRO-SourceCodePro-Light.eot');
    src:          local('*'),
                  url('TypoPRO-SourceCodePro-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceCodePro-Light.woff') format('woff'),
                  url('TypoPRO-SourceCodePro-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Code Pro Light Italic */
@font-face {
    font-family:  'TypoPRO Source Code Pro';
    src:          url('TypoPRO-SourceCodePro-LightIt.eot');
    src:          local('*'),
                  url('TypoPRO-SourceCodePro-LightIt.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceCodePro-LightIt.woff') format('woff'),
                  url('TypoPRO-SourceCodePro-LightIt.ttf') format('truetype');
    font-style:   italic;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Code Pro Medium */
@font-face {
    font-family:  'TypoPRO Source Code Pro';
    src:          url('TypoPRO-SourceCodePro-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-SourceCodePro-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceCodePro-Medium.woff') format('woff'),
                  url('TypoPRO-SourceCodePro-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Code Pro Medium Italic */
@font-face {
    font-family:  'TypoPRO Source Code Pro';
    src:          url('TypoPRO-SourceCodePro-MediumIt.eot');
    src:          local('*'),
                  url('TypoPRO-SourceCodePro-MediumIt.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceCodePro-MediumIt.woff') format('woff'),
                  url('TypoPRO-SourceCodePro-MediumIt.ttf') format('truetype');
    font-style:   italic;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Code Pro */
@font-face {
    font-family:  'TypoPRO Source Code Pro';
    src:          url('TypoPRO-SourceCodePro-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceCodePro-Regular.woff') format('woff'),
                  url('TypoPRO-SourceCodePro-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Code Pro Semibold */
@font-face {
    font-family:  'TypoPRO Source Code Pro';
    src:          url('TypoPRO-SourceCodePro-Semibold.eot');
    src:          local('*'),
                  url('TypoPRO-SourceCodePro-Semibold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceCodePro-Semibold.woff') format('woff'),
                  url('TypoPRO-SourceCodePro-Semibold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Source Code Pro Semibold Italic */
@font-face {
    font-family:  'TypoPRO Source Code Pro';
    src:          url('TypoPRO-SourceCodePro-SemiboldIt.eot');
    src:          local('*'),
                  url('TypoPRO-SourceCodePro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceCodePro-SemiboldIt.woff') format('woff'),
                  url('TypoPRO-SourceCodePro-SemiboldIt.ttf') format('truetype');
    font-style:   italic;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}

