
/* TypoPRO Bodoni* 48 Fatface */
@font-face {
    font-family:  'TypoPRO Bodoni 48';
    src:          url('TypoPRO-Bodoni-48-Fatface.eot');
    src:          local('*'),
                  url('TypoPRO-Bodoni-48-Fatface.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Bodoni-48-Fatface.woff') format('woff'),
                  url('TypoPRO-Bodoni-48-Fatface.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}

