
/* TypoPRO Bodoni* 96 Medium */
@font-face {
    font-family:  'TypoPRO Bodoni 96';
    src:          url('TypoPRO-Bodoni-96-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-Bodoni-96-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Bodoni-96-Medium.woff') format('woff'),
                  url('TypoPRO-Bodoni-96-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}

