
/* TypoPRO IntelOne Mono Medium Italic */
@font-face {
    font-family:  'TypoPRO Intel One Mono';
    src:          url('TypoPRO-Intel-One-Mono-mediumitalic.eot');
    src:          local('*'),
                  url('TypoPRO-Intel-One-Mono-mediumitalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Intel-One-Mono-mediumitalic.woff') format('woff'),
                  url('TypoPRO-Intel-One-Mono-mediumitalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}

