
/* TypoPRO Cabin-Regular */
@font-face {
    font-family:  'TypoPRO Cabin';
    src:          url('TypoPRO-Cabin-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Cabin-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Cabin-Regular.woff') format('woff'),
                  url('TypoPRO-Cabin-Regular.ttf') format('truetype'),
                  url('TypoPRO-Cabin-Regular.svgz#TypoPRO-Cabin-Regular') format('svg');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

