
/* TypoPRO Vegur Light */
@font-face {
    font-family:  'TypoPRO Vegur Light';
    src:          url('TypoPRO-Vegur-Light.eot');
    src:          local('*'),
                  url('TypoPRO-Vegur-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vegur-Light.woff') format('woff'),
                  url('TypoPRO-Vegur-Light.ttf') format('truetype'),
                  url('TypoPRO-Vegur-Light.svgz#TypoPRO-Vegur-Light') format('svg');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}

