
/* TypoPRO Amatic Bold */
@font-face {
    font-family:  'TypoPRO Amatic SC';
    src:          url('TypoPRO-AmaticSC-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-AmaticSC-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-AmaticSC-Bold.woff') format('woff'),
                  url('TypoPRO-AmaticSC-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Amatic SC Regular */
@font-face {
    font-family:  'TypoPRO Amatic SC';
    src:          url('TypoPRO-AmaticSC-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-AmaticSC-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-AmaticSC-Regular.woff') format('woff'),
                  url('TypoPRO-AmaticSC-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}

