
/* TypoPRO Clear Sans Thin */
@font-face {
    font-family:  'TypoPRO Clear Sans';
    src:          url('TypoPRO-ClearSans-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-ClearSans-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-ClearSans-Thin.woff') format('woff'),
                  url('TypoPRO-ClearSans-Thin.ttf') format('truetype'),
                  url('TypoPRO-ClearSans-Thin.svgz#TypoPRO-ClearSans-Thin') format('svg');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}

