
/* TypoPRO Clear Sans Medium */
@font-face {
    font-family:  'TypoPRO Clear Sans Medium';
    src:          url('TypoPRO-ClearSans-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-ClearSans-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-ClearSans-Medium.woff') format('woff'),
                  url('TypoPRO-ClearSans-Medium.ttf') format('truetype'),
                  url('TypoPRO-ClearSans-Medium.svgz#TypoPRO-ClearSans-Medium') format('svg');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}

