
/* TypoPRO Radio-Canada Condensed Light */
@font-face {
    font-family:  'TypoPRO Radio Canada';
    src:          url('TypoPRO-Radio-CanadaCondensed-Light.eot');
    src:          local('*'),
                  url('TypoPRO-Radio-CanadaCondensed-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Radio-CanadaCondensed-Light.woff') format('woff'),
                  url('TypoPRO-Radio-CanadaCondensed-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: condensed;
    font-variant: normal;
}

