
/* TypoPRO Radio-Canada Bold Italic */
@font-face {
    font-family:  'TypoPRO Radio Canada';
    src:          url('TypoPRO-Radio-Canada-BoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Radio-Canada-BoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Radio-Canada-BoldItalic.woff') format('woff'),
                  url('TypoPRO-Radio-Canada-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

