
/* TypoPRO Barlow Thin */
@font-face {
    font-family:  'TypoPRO Barlow';
    src:          url('TypoPRO-Barlow-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-Barlow-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Barlow-Thin.woff') format('woff'),
                  url('TypoPRO-Barlow-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}

