
/* TypoPRO Bitter Black Italic */
@font-face {
    font-family:  'TypoPRO Bitter';
    src:          url('TypoPRO-Bitter-BlackItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Bitter-BlackItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Bitter-BlackItalic.woff') format('woff'),
                  url('TypoPRO-Bitter-BlackItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}

