
/* TypoPRO Kreon Bold */
@font-face {
    font-family:  'TypoPRO Kreon';
    src:          url('TypoPRO-Kreon-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-Kreon-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Kreon-Bold.woff') format('woff'),
                  url('TypoPRO-Kreon-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Kreon Light */
@font-face {
    font-family:  'TypoPRO Kreon';
    src:          url('TypoPRO-Kreon-Light.eot');
    src:          local('*'),
                  url('TypoPRO-Kreon-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Kreon-Light.woff') format('woff'),
                  url('TypoPRO-Kreon-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Kreon Regular */
@font-face {
    font-family:  'TypoPRO Kreon';
    src:          url('TypoPRO-Kreon-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Kreon-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Kreon-Regular.woff') format('woff'),
                  url('TypoPRO-Kreon-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

