
/* TypoPRO Fira Sans Compressed Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans Compressed';
    src:          url('TypoPRO-FiraSansCompressed-Italic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCompressed-Italic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCompressed-Italic.woff') format('woff'),
                  url('TypoPRO-FiraSansCompressed-Italic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}

