
/* TypoPRO Fira Sans Condensed ExtraLight */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed 250';
    src:          url('TypoPRO-FiraSansCondensed-ExtraLight.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-ExtraLight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-ExtraLight.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-ExtraLight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}

