
/* TypoPRO Fira Sans Condensed */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed';
    src:          url('TypoPRO-FiraSansCondensed-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-Regular.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}

