
/* TypoPRO Fira Sans Bold */
@font-face {
    font-family:  'TypoPRO Fira Sans';
    src:          url('TypoPRO-FiraSans-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-Bold.woff') format('woff'),
                  url('TypoPRO-FiraSans-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Bold Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans';
    src:          url('TypoPRO-FiraSans-BoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-BoldItalic.woff') format('woff'),
                  url('TypoPRO-FiraSans-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Book */
@font-face {
    font-family:  'TypoPRO Fira Sans 350';
    src:          url('TypoPRO-FiraSans-Book.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-Book.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-Book.woff') format('woff'),
                  url('TypoPRO-FiraSans-Book.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Book Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans 350';
    src:          url('TypoPRO-FiraSans-BookItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-BookItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-BookItalic.woff') format('woff'),
                  url('TypoPRO-FiraSans-BookItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Eight */
@font-face {
    font-family:  'TypoPRO Fira Sans 75';
    src:          url('TypoPRO-FiraSans-Eight.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-Eight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-Eight.woff') format('woff'),
                  url('TypoPRO-FiraSans-Eight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Eight Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans 75';
    src:          url('TypoPRO-FiraSans-EightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-EightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-EightItalic.woff') format('woff'),
                  url('TypoPRO-FiraSans-EightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans ExtraBold */
@font-face {
    font-family:  'TypoPRO Fira Sans';
    src:          url('TypoPRO-FiraSans-ExtraBold.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-ExtraBold.woff') format('woff'),
                  url('TypoPRO-FiraSans-ExtraBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans ExtraBold Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans';
    src:          url('TypoPRO-FiraSans-ExtraBoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-ExtraBoldItalic.woff') format('woff'),
                  url('TypoPRO-FiraSans-ExtraBoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans ExtraLight */
@font-face {
    font-family:  'TypoPRO Fira Sans 250';
    src:          url('TypoPRO-FiraSans-ExtraLight.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-ExtraLight.woff') format('woff'),
                  url('TypoPRO-FiraSans-ExtraLight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans ExtraLight Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans 250';
    src:          url('TypoPRO-FiraSans-ExtraLightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-ExtraLightItalic.woff') format('woff'),
                  url('TypoPRO-FiraSans-ExtraLightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Four */
@font-face {
    font-family:  'TypoPRO Fira Sans 50';
    src:          url('TypoPRO-FiraSans-Four.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-Four.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-Four.woff') format('woff'),
                  url('TypoPRO-FiraSans-Four.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Four Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans 50';
    src:          url('TypoPRO-FiraSans-FourItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-FourItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-FourItalic.woff') format('woff'),
                  url('TypoPRO-FiraSans-FourItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Hair */
@font-face {
    font-family:  'TypoPRO Fira Sans';
    src:          url('TypoPRO-FiraSans-Hair.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-Hair.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-Hair.woff') format('woff'),
                  url('TypoPRO-FiraSans-Hair.ttf') format('truetype');
    font-style:   normal;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Hair Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans';
    src:          url('TypoPRO-FiraSans-HairItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-HairItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-HairItalic.woff') format('woff'),
                  url('TypoPRO-FiraSans-HairItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Heavy */
@font-face {
    font-family:  'TypoPRO Fira Sans';
    src:          url('TypoPRO-FiraSans-Heavy.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-Heavy.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-Heavy.woff') format('woff'),
                  url('TypoPRO-FiraSans-Heavy.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Heavy Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans';
    src:          url('TypoPRO-FiraSans-HeavyItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-HeavyItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-HeavyItalic.woff') format('woff'),
                  url('TypoPRO-FiraSans-HeavyItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans';
    src:          url('TypoPRO-FiraSans-Italic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-Italic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-Italic.woff') format('woff'),
                  url('TypoPRO-FiraSans-Italic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Light */
@font-face {
    font-family:  'TypoPRO Fira Sans';
    src:          url('TypoPRO-FiraSans-Light.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-Light.woff') format('woff'),
                  url('TypoPRO-FiraSans-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Light Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans';
    src:          url('TypoPRO-FiraSans-LightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-LightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-LightItalic.woff') format('woff'),
                  url('TypoPRO-FiraSans-LightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Medium */
@font-face {
    font-family:  'TypoPRO Fira Sans';
    src:          url('TypoPRO-FiraSans-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-Medium.woff') format('woff'),
                  url('TypoPRO-FiraSans-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Medium Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans';
    src:          url('TypoPRO-FiraSans-MediumItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-MediumItalic.woff') format('woff'),
                  url('TypoPRO-FiraSans-MediumItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans */
@font-face {
    font-family:  'TypoPRO Fira Sans';
    src:          url('TypoPRO-FiraSans-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-Regular.woff') format('woff'),
                  url('TypoPRO-FiraSans-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans SemiBold */
@font-face {
    font-family:  'TypoPRO Fira Sans';
    src:          url('TypoPRO-FiraSans-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-SemiBold.woff') format('woff'),
                  url('TypoPRO-FiraSans-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans SemiBold Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans';
    src:          url('TypoPRO-FiraSans-SemiBoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-SemiBoldItalic.woff') format('woff'),
                  url('TypoPRO-FiraSans-SemiBoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Thin */
@font-face {
    font-family:  'TypoPRO Fira Sans 150';
    src:          url('TypoPRO-FiraSans-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-Thin.woff') format('woff'),
                  url('TypoPRO-FiraSans-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Thin Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans 150';
    src:          url('TypoPRO-FiraSans-ThinItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-ThinItalic.woff') format('woff'),
                  url('TypoPRO-FiraSans-ThinItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Two */
@font-face {
    font-family:  'TypoPRO Fira Sans 25';
    src:          url('TypoPRO-FiraSans-Two.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-Two.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-Two.woff') format('woff'),
                  url('TypoPRO-FiraSans-Two.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Two Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans 25';
    src:          url('TypoPRO-FiraSans-TwoItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-TwoItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-TwoItalic.woff') format('woff'),
                  url('TypoPRO-FiraSans-TwoItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Ultra */
@font-face {
    font-family:  'TypoPRO Fira Sans 950';
    src:          url('TypoPRO-FiraSans-Ultra.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-Ultra.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-Ultra.woff') format('woff'),
                  url('TypoPRO-FiraSans-Ultra.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Ultra Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans 950';
    src:          url('TypoPRO-FiraSans-UltraItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-UltraItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-UltraItalic.woff') format('woff'),
                  url('TypoPRO-FiraSans-UltraItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans UltraLight */
@font-face {
    font-family:  'TypoPRO Fira Sans';
    src:          url('TypoPRO-FiraSans-UltraLight.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-UltraLight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-UltraLight.woff') format('woff'),
                  url('TypoPRO-FiraSans-UltraLight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans UltraLight Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans';
    src:          url('TypoPRO-FiraSans-UltraLightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSans-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSans-UltraLightItalic.woff') format('woff'),
                  url('TypoPRO-FiraSans-UltraLightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Bold */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed';
    src:          url('TypoPRO-FiraSansCondensed-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-Bold.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Bold Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed';
    src:          url('TypoPRO-FiraSansCondensed-BoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-BoldItalic.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  600;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Book */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed 350';
    src:          url('TypoPRO-FiraSansCondensed-Book.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-Book.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-Book.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-Book.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Book Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed 350';
    src:          url('TypoPRO-FiraSansCondensed-BookItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-BookItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-BookItalic.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-BookItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Eight */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed 75';
    src:          url('TypoPRO-FiraSansCondensed-Eight.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-Eight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-Eight.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-Eight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Eight Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed 75';
    src:          url('TypoPRO-FiraSansCondensed-EightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-EightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-EightItalic.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-EightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed ExtraBold */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed';
    src:          url('TypoPRO-FiraSansCondensed-ExtraBold.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-ExtraBold.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-ExtraBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed ExtraLight */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed 250';
    src:          url('TypoPRO-FiraSansCondensed-ExtraLight.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-ExtraLight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-ExtraLight.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-ExtraLight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed ExtraLight Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed 250';
    src:          url('TypoPRO-FiraSansCondensed-ExtraLightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-ExtraLightItalic.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-ExtraLightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed ExtraBold Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed';
    src:          url('TypoPRO-FiraSansCondensed-ExtraboldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-ExtraboldItalic.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-ExtraboldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  800;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Four */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed 50';
    src:          url('TypoPRO-FiraSansCondensed-Four.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-Four.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-Four.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-Four.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Four Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed 50';
    src:          url('TypoPRO-FiraSansCondensed-FourItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-FourItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-FourItalic.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-FourItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Hair */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed';
    src:          url('TypoPRO-FiraSansCondensed-Hair.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-Hair.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-Hair.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-Hair.ttf') format('truetype');
    font-style:   normal;
    font-weight:  100;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Hair Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed';
    src:          url('TypoPRO-FiraSansCondensed-HairItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-HairItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-HairItalic.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-HairItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  100;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Heavy */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed';
    src:          url('TypoPRO-FiraSansCondensed-Heavy.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-Heavy.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-Heavy.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-Heavy.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Heavy Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed';
    src:          url('TypoPRO-FiraSansCondensed-HeavyItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-HeavyItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-HeavyItalic.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-HeavyItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  900;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed';
    src:          url('TypoPRO-FiraSansCondensed-Italic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-Italic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-Italic.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-Italic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Light */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed';
    src:          url('TypoPRO-FiraSansCondensed-Light.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-Light.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Light Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed';
    src:          url('TypoPRO-FiraSansCondensed-LightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-LightItalic.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-LightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  300;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Medium */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed';
    src:          url('TypoPRO-FiraSansCondensed-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-Medium.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Medium Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed';
    src:          url('TypoPRO-FiraSansCondensed-MediumItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-MediumItalic.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-MediumItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  500;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed';
    src:          url('TypoPRO-FiraSansCondensed-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-Regular.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed SemiBold */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed';
    src:          url('TypoPRO-FiraSansCondensed-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-SemiBold.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed SemiBold Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed';
    src:          url('TypoPRO-FiraSansCondensed-SemiboldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-SemiboldItalic.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-SemiboldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Thin */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed 150';
    src:          url('TypoPRO-FiraSansCondensed-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-Thin.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Thin Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed 150';
    src:          url('TypoPRO-FiraSansCondensed-ThinItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-ThinItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-ThinItalic.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-ThinItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Two */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed 25';
    src:          url('TypoPRO-FiraSansCondensed-Two.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-Two.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-Two.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-Two.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Two Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed 25';
    src:          url('TypoPRO-FiraSansCondensed-TwoItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-TwoItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-TwoItalic.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-TwoItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Ultra */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed 950';
    src:          url('TypoPRO-FiraSansCondensed-Ultra.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-Ultra.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-Ultra.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-Ultra.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed Ultra Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed 950';
    src:          url('TypoPRO-FiraSansCondensed-UltraItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-UltraItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-UltraItalic.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-UltraItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed UltraLight */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed';
    src:          url('TypoPRO-FiraSansCondensed-UltraLight.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-UltraLight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-UltraLight.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-UltraLight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Fira Sans Condensed UltraLight Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed';
    src:          url('TypoPRO-FiraSansCondensed-UltraLightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-UltraLightItalic.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-UltraLightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  200;
    font-stretch: condensed;
    font-variant: normal;
}

