
/* TypoPRO Fira Sans Condensed SemiBold Italic */
@font-face {
    font-family:  'TypoPRO Fira Sans Condensed';
    src:          url('TypoPRO-FiraSansCondensed-SemiboldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-FiraSansCondensed-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-FiraSansCondensed-SemiboldItalic.woff') format('woff'),
                  url('TypoPRO-FiraSansCondensed-SemiboldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: condensed;
    font-variant: normal;
}

