
/* TypoPRO Georama Condensed ExtraBold */
@font-face {
    font-family:  'TypoPRO Georama Condensed';
    src:          url('TypoPRO-GeoramaCondensed-ExtraBold.eot');
    src:          local('*'),
                  url('TypoPRO-GeoramaCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-GeoramaCondensed-ExtraBold.woff') format('woff'),
                  url('TypoPRO-GeoramaCondensed-ExtraBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: condensed;
    font-variant: normal;
}

