
/* TypoPRO Georama Condensed Light */
@font-face {
    font-family:  'TypoPRO Georama Condensed';
    src:          url('TypoPRO-GeoramaCondensed-Light.eot');
    src:          local('*'),
                  url('TypoPRO-GeoramaCondensed-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-GeoramaCondensed-Light.woff') format('woff'),
                  url('TypoPRO-GeoramaCondensed-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: condensed;
    font-variant: normal;
}

