
/* TypoPRO Saira SemiCondensed Black */
@font-face {
    font-family:  'TypoPRO Saira Condensed';
    src:          url('TypoPRO-SairaSemiCondensed-Black.eot');
    src:          local('*'),
                  url('TypoPRO-SairaSemiCondensed-Black.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaSemiCondensed-Black.woff') format('woff'),
                  url('TypoPRO-SairaSemiCondensed-Black.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: semi-condensed;
    font-variant: normal;
}

