
/* TypoPRO Saira Black */
@font-face {
    font-family:  'TypoPRO Saira';
    src:          url('TypoPRO-Saira-Black.eot');
    src:          local('*'),
                  url('TypoPRO-Saira-Black.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Saira-Black.woff') format('woff'),
                  url('TypoPRO-Saira-Black.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Saira Bold */
@font-face {
    font-family:  'TypoPRO Saira';
    src:          url('TypoPRO-Saira-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-Saira-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Saira-Bold.woff') format('woff'),
                  url('TypoPRO-Saira-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Saira ExtraBold */
@font-face {
    font-family:  'TypoPRO Saira';
    src:          url('TypoPRO-Saira-ExtraBold.eot');
    src:          local('*'),
                  url('TypoPRO-Saira-ExtraBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Saira-ExtraBold.woff') format('woff'),
                  url('TypoPRO-Saira-ExtraBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Saira ExtraLight */
@font-face {
    font-family:  'TypoPRO Saira';
    src:          url('TypoPRO-Saira-ExtraLight.eot');
    src:          local('*'),
                  url('TypoPRO-Saira-ExtraLight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Saira-ExtraLight.woff') format('woff'),
                  url('TypoPRO-Saira-ExtraLight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Saira Light */
@font-face {
    font-family:  'TypoPRO Saira';
    src:          url('TypoPRO-Saira-Light.eot');
    src:          local('*'),
                  url('TypoPRO-Saira-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Saira-Light.woff') format('woff'),
                  url('TypoPRO-Saira-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Saira Medium */
@font-face {
    font-family:  'TypoPRO Saira';
    src:          url('TypoPRO-Saira-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-Saira-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Saira-Medium.woff') format('woff'),
                  url('TypoPRO-Saira-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Saira Regular */
@font-face {
    font-family:  'TypoPRO Saira';
    src:          url('TypoPRO-Saira-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Saira-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Saira-Regular.woff') format('woff'),
                  url('TypoPRO-Saira-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Saira SemiBold */
@font-face {
    font-family:  'TypoPRO Saira';
    src:          url('TypoPRO-Saira-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-Saira-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Saira-SemiBold.woff') format('woff'),
                  url('TypoPRO-Saira-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Saira Thin */
@font-face {
    font-family:  'TypoPRO Saira';
    src:          url('TypoPRO-Saira-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-Saira-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Saira-Thin.woff') format('woff'),
                  url('TypoPRO-Saira-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Saira Condensed Black */
@font-face {
    font-family:  'TypoPRO Saira Condensed';
    src:          url('TypoPRO-SairaCondensed-Black.eot');
    src:          local('*'),
                  url('TypoPRO-SairaCondensed-Black.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaCondensed-Black.woff') format('woff'),
                  url('TypoPRO-SairaCondensed-Black.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Saira Condensed Condensed */
@font-face {
    font-family:  'TypoPRO Saira Condensed';
    src:          url('TypoPRO-SairaCondensed-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-SairaCondensed-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaCondensed-Bold.woff') format('woff'),
                  url('TypoPRO-SairaCondensed-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Saira Condensed ExtraBold */
@font-face {
    font-family:  'TypoPRO Saira Condensed';
    src:          url('TypoPRO-SairaCondensed-ExtraBold.eot');
    src:          local('*'),
                  url('TypoPRO-SairaCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaCondensed-ExtraBold.woff') format('woff'),
                  url('TypoPRO-SairaCondensed-ExtraBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Saira Condensed ExtraLight */
@font-face {
    font-family:  'TypoPRO Saira Condensed';
    src:          url('TypoPRO-SairaCondensed-ExtraLight.eot');
    src:          local('*'),
                  url('TypoPRO-SairaCondensed-ExtraLight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaCondensed-ExtraLight.woff') format('woff'),
                  url('TypoPRO-SairaCondensed-ExtraLight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Saira Condensed Light */
@font-face {
    font-family:  'TypoPRO Saira Condensed';
    src:          url('TypoPRO-SairaCondensed-Light.eot');
    src:          local('*'),
                  url('TypoPRO-SairaCondensed-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaCondensed-Light.woff') format('woff'),
                  url('TypoPRO-SairaCondensed-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Saira Condensed Medium */
@font-face {
    font-family:  'TypoPRO Saira Condensed';
    src:          url('TypoPRO-SairaCondensed-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-SairaCondensed-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaCondensed-Medium.woff') format('woff'),
                  url('TypoPRO-SairaCondensed-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Saira Condensed Regular */
@font-face {
    font-family:  'TypoPRO Saira Condensed';
    src:          url('TypoPRO-SairaCondensed-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-SairaCondensed-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaCondensed-Regular.woff') format('woff'),
                  url('TypoPRO-SairaCondensed-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Saira Condensed SemiBold */
@font-face {
    font-family:  'TypoPRO Saira Condensed';
    src:          url('TypoPRO-SairaCondensed-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-SairaCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaCondensed-SemiBold.woff') format('woff'),
                  url('TypoPRO-SairaCondensed-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Saira Condensed Thin */
@font-face {
    font-family:  'TypoPRO Saira Condensed';
    src:          url('TypoPRO-SairaCondensed-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-SairaCondensed-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaCondensed-Thin.woff') format('woff'),
                  url('TypoPRO-SairaCondensed-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Saira ExtraCondensed Black */
@font-face {
    font-family:  'TypoPRO Saira ExtraCondensed';
    src:          url('TypoPRO-SairaExtraCondensed-Black.eot');
    src:          local('*'),
                  url('TypoPRO-SairaExtraCondensed-Black.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaExtraCondensed-Black.woff') format('woff'),
                  url('TypoPRO-SairaExtraCondensed-Black.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: extra-condensed;
    font-variant: normal;
}


/* TypoPRO Saira ExtraCondensed ExCond */
@font-face {
    font-family:  'TypoPRO Saira ExtraCondensed';
    src:          url('TypoPRO-SairaExtraCondensed-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-SairaExtraCondensed-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaExtraCondensed-Bold.woff') format('woff'),
                  url('TypoPRO-SairaExtraCondensed-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: extra-condensed;
    font-variant: normal;
}


/* TypoPRO Saira ExtraCondensed ExtraBold */
@font-face {
    font-family:  'TypoPRO Saira ExtraCondensed';
    src:          url('TypoPRO-SairaExtraCondensed-ExtraBold.eot');
    src:          local('*'),
                  url('TypoPRO-SairaExtraCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaExtraCondensed-ExtraBold.woff') format('woff'),
                  url('TypoPRO-SairaExtraCondensed-ExtraBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: extra-condensed;
    font-variant: normal;
}


/* TypoPRO Saira ExtraCondensed ExtraLight */
@font-face {
    font-family:  'TypoPRO Saira ExtraCondensed';
    src:          url('TypoPRO-SairaExtraCondensed-ExtraLight.eot');
    src:          local('*'),
                  url('TypoPRO-SairaExtraCondensed-ExtraLight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaExtraCondensed-ExtraLight.woff') format('woff'),
                  url('TypoPRO-SairaExtraCondensed-ExtraLight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: extra-condensed;
    font-variant: normal;
}


/* TypoPRO Saira ExtraCondensed Light */
@font-face {
    font-family:  'TypoPRO Saira ExtraCondensed';
    src:          url('TypoPRO-SairaExtraCondensed-Light.eot');
    src:          local('*'),
                  url('TypoPRO-SairaExtraCondensed-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaExtraCondensed-Light.woff') format('woff'),
                  url('TypoPRO-SairaExtraCondensed-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: extra-condensed;
    font-variant: normal;
}


/* TypoPRO Saira ExtraCondensed Medium */
@font-face {
    font-family:  'TypoPRO Saira ExtraCondensed';
    src:          url('TypoPRO-SairaExtraCondensed-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-SairaExtraCondensed-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaExtraCondensed-Medium.woff') format('woff'),
                  url('TypoPRO-SairaExtraCondensed-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: extra-condensed;
    font-variant: normal;
}


/* TypoPRO Saira ExtraCondensed Regular */
@font-face {
    font-family:  'TypoPRO Saira ExtraCondensed';
    src:          url('TypoPRO-SairaExtraCondensed-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-SairaExtraCondensed-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaExtraCondensed-Regular.woff') format('woff'),
                  url('TypoPRO-SairaExtraCondensed-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: extra-condensed;
    font-variant: normal;
}


/* TypoPRO Saira ExtraCondensed SemiBold */
@font-face {
    font-family:  'TypoPRO Saira ExtraCondensed';
    src:          url('TypoPRO-SairaExtraCondensed-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-SairaExtraCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaExtraCondensed-SemiBold.woff') format('woff'),
                  url('TypoPRO-SairaExtraCondensed-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: extra-condensed;
    font-variant: normal;
}


/* TypoPRO Saira ExtraCondensed Thin */
@font-face {
    font-family:  'TypoPRO Saira ExtraCondensed';
    src:          url('TypoPRO-SairaExtraCondensed-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-SairaExtraCondensed-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaExtraCondensed-Thin.woff') format('woff'),
                  url('TypoPRO-SairaExtraCondensed-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: extra-condensed;
    font-variant: normal;
}


/* TypoPRO Saira SemiCondensed Black */
@font-face {
    font-family:  'TypoPRO Saira Condensed';
    src:          url('TypoPRO-SairaSemiCondensed-Black.eot');
    src:          local('*'),
                  url('TypoPRO-SairaSemiCondensed-Black.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaSemiCondensed-Black.woff') format('woff'),
                  url('TypoPRO-SairaSemiCondensed-Black.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: semi-condensed;
    font-variant: normal;
}


/* TypoPRO Saira SemiCondensed SemiCond */
@font-face {
    font-family:  'TypoPRO Saira SemiCondensed';
    src:          url('TypoPRO-SairaSemiCondensed-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-SairaSemiCondensed-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaSemiCondensed-Bold.woff') format('woff'),
                  url('TypoPRO-SairaSemiCondensed-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: semi-condensed;
    font-variant: normal;
}


/* TypoPRO Saira SemiCondensed ExtraBold */
@font-face {
    font-family:  'TypoPRO Saira SemiCondensed';
    src:          url('TypoPRO-SairaSemiCondensed-ExtraBold.eot');
    src:          local('*'),
                  url('TypoPRO-SairaSemiCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaSemiCondensed-ExtraBold.woff') format('woff'),
                  url('TypoPRO-SairaSemiCondensed-ExtraBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: semi-condensed;
    font-variant: normal;
}


/* TypoPRO Saira SemiCondensed ExtraLight */
@font-face {
    font-family:  'TypoPRO Saira SemiCondensed';
    src:          url('TypoPRO-SairaSemiCondensed-ExtraLight.eot');
    src:          local('*'),
                  url('TypoPRO-SairaSemiCondensed-ExtraLight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaSemiCondensed-ExtraLight.woff') format('woff'),
                  url('TypoPRO-SairaSemiCondensed-ExtraLight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: semi-condensed;
    font-variant: normal;
}


/* TypoPRO Saira SemiCondensed Light */
@font-face {
    font-family:  'TypoPRO Saira SemiCondensed';
    src:          url('TypoPRO-SairaSemiCondensed-Light.eot');
    src:          local('*'),
                  url('TypoPRO-SairaSemiCondensed-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaSemiCondensed-Light.woff') format('woff'),
                  url('TypoPRO-SairaSemiCondensed-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: semi-condensed;
    font-variant: normal;
}


/* TypoPRO Saira SemiCondensed Medium */
@font-face {
    font-family:  'TypoPRO Saira SemiCondensed';
    src:          url('TypoPRO-SairaSemiCondensed-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-SairaSemiCondensed-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaSemiCondensed-Medium.woff') format('woff'),
                  url('TypoPRO-SairaSemiCondensed-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: semi-condensed;
    font-variant: normal;
}


/* TypoPRO Saira SemiCondensed Regular */
@font-face {
    font-family:  'TypoPRO Saira SemiCondensed';
    src:          url('TypoPRO-SairaSemiCondensed-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-SairaSemiCondensed-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaSemiCondensed-Regular.woff') format('woff'),
                  url('TypoPRO-SairaSemiCondensed-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: semi-condensed;
    font-variant: normal;
}


/* TypoPRO Saira SemiCondensed SemiBold */
@font-face {
    font-family:  'TypoPRO Saira SemiCondensed';
    src:          url('TypoPRO-SairaSemiCondensed-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-SairaSemiCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaSemiCondensed-SemiBold.woff') format('woff'),
                  url('TypoPRO-SairaSemiCondensed-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: semi-condensed;
    font-variant: normal;
}


/* TypoPRO Saira SemiCondensed Thin */
@font-face {
    font-family:  'TypoPRO Saira SemiCondensed';
    src:          url('TypoPRO-SairaSemiCondensed-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-SairaSemiCondensed-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SairaSemiCondensed-Thin.woff') format('woff'),
                  url('TypoPRO-SairaSemiCondensed-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: semi-condensed;
    font-variant: normal;
}

