
/* TypoPRO Neuton SC Regular */
@font-face {
    font-family:  'TypoPRO Neuton SC';
    src:          url('TypoPRO-Neuton-SC-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Neuton-SC-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Neuton-SC-Regular.woff') format('woff'),
                  url('TypoPRO-Neuton-SC-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}

