
/* TypoPRO Vollkorn Regular */
@font-face {
    font-family:  'TypoPRO Vollkorn';
    src:          url('TypoPRO-Vollkorn-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Vollkorn-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vollkorn-Regular.woff') format('woff'),
                  url('TypoPRO-Vollkorn-Regular.ttf') format('truetype'),
                  url('TypoPRO-Vollkorn-Regular.svgz#TypoPRO-Vollkorn-Regular') format('svg');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

