
/* TypoPRO Overpass Bold */
@font-face {
    font-family:  'TypoPRO Overpass';
    src:          url('TypoPRO-Overpass-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-Overpass-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Overpass-Bold.woff') format('woff'),
                  url('TypoPRO-Overpass-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Overpass Bold Italic */
@font-face {
    font-family:  'TypoPRO Overpass';
    src:          url('TypoPRO-Overpass-BoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Overpass-BoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Overpass-BoldItalic.woff') format('woff'),
                  url('TypoPRO-Overpass-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Overpass ExtraBold */
@font-face {
    font-family:  'TypoPRO Overpass';
    src:          url('TypoPRO-Overpass-Extrabold.eot');
    src:          local('*'),
                  url('TypoPRO-Overpass-Extrabold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Overpass-Extrabold.woff') format('woff'),
                  url('TypoPRO-Overpass-Extrabold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Overpass ExtraBold Italic */
@font-face {
    font-family:  'TypoPRO Overpass';
    src:          url('TypoPRO-Overpass-ExtraboldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Overpass-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Overpass-ExtraboldItalic.woff') format('woff'),
                  url('TypoPRO-Overpass-ExtraboldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Overpass ExtraLight */
@font-face {
    font-family:  'TypoPRO Overpass';
    src:          url('TypoPRO-Overpass-Extralight.eot');
    src:          local('*'),
                  url('TypoPRO-Overpass-Extralight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Overpass-Extralight.woff') format('woff'),
                  url('TypoPRO-Overpass-Extralight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Overpass ExtraLight Italic */
@font-face {
    font-family:  'TypoPRO Overpass';
    src:          url('TypoPRO-Overpass-ExtralightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Overpass-ExtralightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Overpass-ExtralightItalic.woff') format('woff'),
                  url('TypoPRO-Overpass-ExtralightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Overpass Heavy */
@font-face {
    font-family:  'TypoPRO Overpass';
    src:          url('TypoPRO-Overpass-Heavy.eot');
    src:          local('*'),
                  url('TypoPRO-Overpass-Heavy.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Overpass-Heavy.woff') format('woff'),
                  url('TypoPRO-Overpass-Heavy.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Overpass Heavy Italic */
@font-face {
    font-family:  'TypoPRO Overpass';
    src:          url('TypoPRO-Overpass-HeavyItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Overpass-HeavyItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Overpass-HeavyItalic.woff') format('woff'),
                  url('TypoPRO-Overpass-HeavyItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Overpass Italic */
@font-face {
    font-family:  'TypoPRO Overpass';
    src:          url('TypoPRO-Overpass-Italic.eot');
    src:          local('*'),
                  url('TypoPRO-Overpass-Italic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Overpass-Italic.woff') format('woff'),
                  url('TypoPRO-Overpass-Italic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Overpass Light */
@font-face {
    font-family:  'TypoPRO Overpass';
    src:          url('TypoPRO-Overpass-Light.eot');
    src:          local('*'),
                  url('TypoPRO-Overpass-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Overpass-Light.woff') format('woff'),
                  url('TypoPRO-Overpass-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Overpass Light Italic */
@font-face {
    font-family:  'TypoPRO Overpass';
    src:          url('TypoPRO-Overpass-LightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Overpass-LightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Overpass-LightItalic.woff') format('woff'),
                  url('TypoPRO-Overpass-LightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Overpass Mono Bold */
@font-face {
    font-family:  'TypoPRO Overpass Mono';
    src:          url('TypoPRO-Overpass-Mono-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-Overpass-Mono-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Overpass-Mono-Bold.woff') format('woff'),
                  url('TypoPRO-Overpass-Mono-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Overpass Mono Light */
@font-face {
    font-family:  'TypoPRO Overpass Mono';
    src:          url('TypoPRO-Overpass-Mono-Light.eot');
    src:          local('*'),
                  url('TypoPRO-Overpass-Mono-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Overpass-Mono-Light.woff') format('woff'),
                  url('TypoPRO-Overpass-Mono-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Overpass Mono Regular */
@font-face {
    font-family:  'TypoPRO Overpass Mono';
    src:          url('TypoPRO-Overpass-Mono-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Overpass-Mono-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Overpass-Mono-Regular.woff') format('woff'),
                  url('TypoPRO-Overpass-Mono-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Overpass Mono Light */
@font-face {
    font-family:  'TypoPRO Overpass Mono';
    src:          url('TypoPRO-Overpass-Mono-Semibold.eot');
    src:          local('*'),
                  url('TypoPRO-Overpass-Mono-Semibold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Overpass-Mono-Semibold.woff') format('woff'),
                  url('TypoPRO-Overpass-Mono-Semibold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Overpass Regular */
@font-face {
    font-family:  'TypoPRO Overpass';
    src:          url('TypoPRO-Overpass-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Overpass-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Overpass-Regular.woff') format('woff'),
                  url('TypoPRO-Overpass-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Overpass Light */
@font-face {
    font-family:  'TypoPRO Overpass';
    src:          url('TypoPRO-Overpass-Semibold.eot');
    src:          local('*'),
                  url('TypoPRO-Overpass-Semibold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Overpass-Semibold.woff') format('woff'),
                  url('TypoPRO-Overpass-Semibold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Overpass SemiBold Italic */
@font-face {
    font-family:  'TypoPRO Overpass';
    src:          url('TypoPRO-Overpass-SemiboldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Overpass-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Overpass-SemiboldItalic.woff') format('woff'),
                  url('TypoPRO-Overpass-SemiboldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Overpass Thin */
@font-face {
    font-family:  'TypoPRO Overpass';
    src:          url('TypoPRO-Overpass-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-Overpass-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Overpass-Thin.woff') format('woff'),
                  url('TypoPRO-Overpass-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Overpass Thin Italic */
@font-face {
    font-family:  'TypoPRO Overpass';
    src:          url('TypoPRO-Overpass-ThinItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Overpass-ThinItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Overpass-ThinItalic.woff') format('woff'),
                  url('TypoPRO-Overpass-ThinItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}

