
/* TypoPRO Andada SC */
@font-face {
    font-family:  'TypoPRO Andada SC';
    src:          url('TypoPRO-AndadaSC-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-AndadaSC-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-AndadaSC-Regular.woff') format('woff'),
                  url('TypoPRO-AndadaSC-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

