
/* TypoPRO Asap Bold */
@font-face {
    font-family:  'TypoPRO Asap';
    src:          url('TypoPRO-Asap-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-Asap-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Asap-Bold.woff') format('woff'),
                  url('TypoPRO-Asap-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Asap Bold Italic */
@font-face {
    font-family:  'TypoPRO Asap';
    src:          url('TypoPRO-Asap-BoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Asap-BoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Asap-BoldItalic.woff') format('woff'),
                  url('TypoPRO-Asap-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Asap Italic */
@font-face {
    font-family:  'TypoPRO Asap';
    src:          url('TypoPRO-Asap-Italic.eot');
    src:          local('*'),
                  url('TypoPRO-Asap-Italic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Asap-Italic.woff') format('woff'),
                  url('TypoPRO-Asap-Italic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Asap Medium */
@font-face {
    font-family:  'TypoPRO Asap';
    src:          url('TypoPRO-Asap-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-Asap-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Asap-Medium.woff') format('woff'),
                  url('TypoPRO-Asap-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Asap Medium Italic */
@font-face {
    font-family:  'TypoPRO Asap';
    src:          url('TypoPRO-Asap-MediumItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Asap-MediumItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Asap-MediumItalic.woff') format('woff'),
                  url('TypoPRO-Asap-MediumItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Asap Regular */
@font-face {
    font-family:  'TypoPRO Asap';
    src:          url('TypoPRO-Asap-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Asap-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Asap-Regular.woff') format('woff'),
                  url('TypoPRO-Asap-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Asap SemiBold */
@font-face {
    font-family:  'TypoPRO Asap';
    src:          url('TypoPRO-Asap-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-Asap-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Asap-SemiBold.woff') format('woff'),
                  url('TypoPRO-Asap-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Asap SemiBold Italic */
@font-face {
    font-family:  'TypoPRO Asap';
    src:          url('TypoPRO-Asap-SemiBoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Asap-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Asap-SemiBoldItalic.woff') format('woff'),
                  url('TypoPRO-Asap-SemiBoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Asap Condensed Bold */
@font-face {
    font-family:  'TypoPRO Asap';
    src:          url('TypoPRO-AsapCondensed-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-AsapCondensed-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-AsapCondensed-Bold.woff') format('woff'),
                  url('TypoPRO-AsapCondensed-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Asap Condensed Bold Italic */
@font-face {
    font-family:  'TypoPRO Asap';
    src:          url('TypoPRO-AsapCondensed-BoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-AsapCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-AsapCondensed-BoldItalic.woff') format('woff'),
                  url('TypoPRO-AsapCondensed-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Asap Condensed Italic */
@font-face {
    font-family:  'TypoPRO Asap';
    src:          url('TypoPRO-AsapCondensed-Italic.eot');
    src:          local('*'),
                  url('TypoPRO-AsapCondensed-Italic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-AsapCondensed-Italic.woff') format('woff'),
                  url('TypoPRO-AsapCondensed-Italic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Asap Condensed Medium */
@font-face {
    font-family:  'TypoPRO Asap';
    src:          url('TypoPRO-AsapCondensed-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-AsapCondensed-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-AsapCondensed-Medium.woff') format('woff'),
                  url('TypoPRO-AsapCondensed-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Asap Condensed Medium Italic */
@font-face {
    font-family:  'TypoPRO Asap';
    src:          url('TypoPRO-AsapCondensed-MediumItalic.eot');
    src:          local('*'),
                  url('TypoPRO-AsapCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-AsapCondensed-MediumItalic.woff') format('woff'),
                  url('TypoPRO-AsapCondensed-MediumItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  500;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Asap Condensed Regular */
@font-face {
    font-family:  'TypoPRO Asap';
    src:          url('TypoPRO-AsapCondensed-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-AsapCondensed-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-AsapCondensed-Regular.woff') format('woff'),
                  url('TypoPRO-AsapCondensed-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Asap Condensed SemiBold */
@font-face {
    font-family:  'TypoPRO Asap';
    src:          url('TypoPRO-AsapCondensed-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-AsapCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-AsapCondensed-SemiBold.woff') format('woff'),
                  url('TypoPRO-AsapCondensed-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: condensed;
    font-variant: normal;
}


/* TypoPRO Asap Condensed SemiBold Italic */
@font-face {
    font-family:  'TypoPRO Asap';
    src:          url('TypoPRO-AsapCondensed-SemiBoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-AsapCondensed-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-AsapCondensed-SemiBoldItalic.woff') format('woff'),
                  url('TypoPRO-AsapCondensed-SemiBoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  600;
    font-stretch: condensed;
    font-variant: normal;
}

