
/* TypoPRO Komika Text Kaps Bold */
@font-face {
    font-family:  'TypoPRO Komika Text';
    src:          url('TypoPRO-KomikaText-KapsBold.eot');
    src:          local('*'),
                  url('TypoPRO-KomikaText-KapsBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-KomikaText-KapsBold.woff') format('woff'),
                  url('TypoPRO-KomikaText-KapsBold.ttf') format('truetype'),
                  url('TypoPRO-KomikaText-KapsBold.svgz#TypoPRO-KomikaTextKaps-Bold') format('svg');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: small-caps;
}

