
/* TypoPRO Hack-BoldOblique */
@font-face {
    font-family:  'TypoPRO Hack';
    src:          url('TypoPRO-Hack-BoldOblique.eot');
    src:          local('*'),
                  url('TypoPRO-Hack-BoldOblique.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Hack-BoldOblique.woff') format('woff'),
                  url('TypoPRO-Hack-BoldOblique.ttf') format('truetype');
    font-style:   oblique;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

