
/* TypoPRO Hack Bold */
@font-face {
    font-family:  'TypoPRO Hack';
    src:          url('TypoPRO-Hack-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-Hack-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Hack-Bold.woff') format('woff'),
                  url('TypoPRO-Hack-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Hack Bold Italic */
@font-face {
    font-family:  'TypoPRO Hack';
    src:          url('TypoPRO-Hack-BoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Hack-BoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Hack-BoldItalic.woff') format('woff'),
                  url('TypoPRO-Hack-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Hack Italic */
@font-face {
    font-family:  'TypoPRO Hack';
    src:          url('TypoPRO-Hack-Italic.eot');
    src:          local('*'),
                  url('TypoPRO-Hack-Italic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Hack-Italic.woff') format('woff'),
                  url('TypoPRO-Hack-Italic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Hack Regular */
@font-face {
    font-family:  'TypoPRO Hack';
    src:          url('TypoPRO-Hack-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Hack-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Hack-Regular.woff') format('woff'),
                  url('TypoPRO-Hack-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

