
/* TypoPRO Hack-Oblique */
@font-face {
    font-family:  'TypoPRO Hack';
    src:          url('TypoPRO-Hack-RegularOblique.eot');
    src:          local('*'),
                  url('TypoPRO-Hack-RegularOblique.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Hack-RegularOblique.woff') format('woff'),
                  url('TypoPRO-Hack-RegularOblique.ttf') format('truetype');
    font-style:   oblique;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

