
/* TypoPRO Lato Heavy Italic */
@font-face {
    font-family:  'TypoPRO Lato';
    src:          url('TypoPRO-Lato-HeavyItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Lato-HeavyItalic.woff') format('woff'),
                  url('TypoPRO-Lato-HeavyItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}

