
/* TypoPRO Lato Heavy */
@font-face {
    font-family:  'TypoPRO Lato';
    src:          url('TypoPRO-Lato-Heavy.eot');
    src:          local('*'),
                  url('TypoPRO-Lato-Heavy.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Lato-Heavy.woff') format('woff'),
                  url('TypoPRO-Lato-Heavy.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}

