
/* TypoPRO Cousine */
@font-face {
    font-family:  'TypoPRO Cousine';
    src:          url('TypoPRO-Cousine-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Cousine-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Cousine-Regular.woff') format('woff'),
                  url('TypoPRO-Cousine-Regular.ttf') format('truetype'),
                  url('TypoPRO-Cousine-Regular.svgz#TypoPRO-Cousine') format('svg');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

