
/* TypoPRO Astloch Bold */
@font-face {
    font-family:  'TypoPRO Astloch';
    src:          url('TypoPRO-Astloch-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-Astloch-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Astloch-Bold.woff') format('woff'),
                  url('TypoPRO-Astloch-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Astloch */
@font-face {
    font-family:  'TypoPRO Astloch';
    src:          url('TypoPRO-Astloch-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Astloch-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Astloch-Regular.woff') format('woff'),
                  url('TypoPRO-Astloch-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

