
/* TypoPRO Montserrat Alternates Thin */
@font-face {
    font-family:  'TypoPRO Montserrat Alternates';
    src:          url('TypoPRO-MontserratAlternates-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-MontserratAlternates-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-MontserratAlternates-Thin.woff') format('woff'),
                  url('TypoPRO-MontserratAlternates-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}

