
/* TypoPRO Montserrat Alternates Thin Italic */
@font-face {
    font-family:  'TypoPRO Montserrat Alternates';
    src:          url('TypoPRO-MontserratAlternates-ThinItalic.eot');
    src:          local('*'),
                  url('TypoPRO-MontserratAlternates-ThinItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-MontserratAlternates-ThinItalic.woff') format('woff'),
                  url('TypoPRO-MontserratAlternates-ThinItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}

