
/* TypoPRO Quicksand-Regular */
@font-face {
    font-family:  'TypoPRO Quicksand';
    src:          url('TypoPRO-Quicksand-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Quicksand-Regular.woff') format('woff'),
                  url('TypoPRO-Quicksand-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

