
/* TypoPRO Source Serif 4 ExtraLight Italic */
@font-face {
    font-family:  'TypoPRO Source Serif Pro';
    src:          url('TypoPRO-SourceSerifPro-ExtraLightIt.eot');
    src:          local('*'),
                  url('TypoPRO-SourceSerifPro-ExtraLightIt.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceSerifPro-ExtraLightIt.woff') format('woff'),
                  url('TypoPRO-SourceSerifPro-ExtraLightIt.ttf') format('truetype');
    font-style:   italic;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}

