
/* TypoPRO Vollkorn SC ExtraBold Italic */
@font-face {
    font-family:  'TypoPRO Vollkorn SC';
    src:          url('TypoPRO-VollkornSC-ExtraBoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-VollkornSC-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-VollkornSC-ExtraBoldItalic.woff') format('woff'),
                  url('TypoPRO-VollkornSC-ExtraBoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  800;
    font-stretch: normal;
    font-variant: small-caps;
}

