
/* TypoPRO Vollkorn Black */
@font-face {
    font-family:  'TypoPRO Vollkorn';
    src:          url('TypoPRO-Vollkorn-Black.eot');
    src:          local('*'),
                  url('TypoPRO-Vollkorn-Black.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vollkorn-Black.woff') format('woff'),
                  url('TypoPRO-Vollkorn-Black.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Vollkorn Black Italic */
@font-face {
    font-family:  'TypoPRO Vollkorn';
    src:          url('TypoPRO-Vollkorn-BlackItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Vollkorn-BlackItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vollkorn-BlackItalic.woff') format('woff'),
                  url('TypoPRO-Vollkorn-BlackItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Vollkorn Bold */
@font-face {
    font-family:  'TypoPRO Vollkorn';
    src:          url('TypoPRO-Vollkorn-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-Vollkorn-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vollkorn-Bold.woff') format('woff'),
                  url('TypoPRO-Vollkorn-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Vollkorn Bold Italic */
@font-face {
    font-family:  'TypoPRO Vollkorn';
    src:          url('TypoPRO-Vollkorn-BoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Vollkorn-BoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vollkorn-BoldItalic.woff') format('woff'),
                  url('TypoPRO-Vollkorn-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Vollkorn ExtraBold */
@font-face {
    font-family:  'TypoPRO Vollkorn';
    src:          url('TypoPRO-Vollkorn-ExtraBold.eot');
    src:          local('*'),
                  url('TypoPRO-Vollkorn-ExtraBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vollkorn-ExtraBold.woff') format('woff'),
                  url('TypoPRO-Vollkorn-ExtraBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Vollkorn ExtraBold Italic */
@font-face {
    font-family:  'TypoPRO Vollkorn';
    src:          url('TypoPRO-Vollkorn-ExtraBoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Vollkorn-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vollkorn-ExtraBoldItalic.woff') format('woff'),
                  url('TypoPRO-Vollkorn-ExtraBoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Vollkorn Italic */
@font-face {
    font-family:  'TypoPRO Vollkorn';
    src:          url('TypoPRO-Vollkorn-Italic.eot');
    src:          local('*'),
                  url('TypoPRO-Vollkorn-Italic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vollkorn-Italic.woff') format('woff'),
                  url('TypoPRO-Vollkorn-Italic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Vollkorn Medium */
@font-face {
    font-family:  'TypoPRO Vollkorn';
    src:          url('TypoPRO-Vollkorn-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-Vollkorn-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vollkorn-Medium.woff') format('woff'),
                  url('TypoPRO-Vollkorn-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Vollkorn Medium Italic */
@font-face {
    font-family:  'TypoPRO Vollkorn';
    src:          url('TypoPRO-Vollkorn-MediumItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Vollkorn-MediumItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vollkorn-MediumItalic.woff') format('woff'),
                  url('TypoPRO-Vollkorn-MediumItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Vollkorn Regular */
@font-face {
    font-family:  'TypoPRO Vollkorn';
    src:          url('TypoPRO-Vollkorn-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Vollkorn-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vollkorn-Regular.woff') format('woff'),
                  url('TypoPRO-Vollkorn-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Vollkorn SemiBold */
@font-face {
    font-family:  'TypoPRO Vollkorn';
    src:          url('TypoPRO-Vollkorn-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-Vollkorn-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vollkorn-SemiBold.woff') format('woff'),
                  url('TypoPRO-Vollkorn-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Vollkorn SemiBold Italic */
@font-face {
    font-family:  'TypoPRO Vollkorn';
    src:          url('TypoPRO-Vollkorn-SemiBoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Vollkorn-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vollkorn-SemiBoldItalic.woff') format('woff'),
                  url('TypoPRO-Vollkorn-SemiBoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Vollkorn SC Black */
@font-face {
    font-family:  'TypoPRO Vollkorn SC';
    src:          url('TypoPRO-VollkornSC-Black.eot');
    src:          local('*'),
                  url('TypoPRO-VollkornSC-Black.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-VollkornSC-Black.woff') format('woff'),
                  url('TypoPRO-VollkornSC-Black.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: normal;
    font-variant: small-caps;
}


/* TypoPRO Vollkorn SC Black Italic */
@font-face {
    font-family:  'TypoPRO Vollkorn SC';
    src:          url('TypoPRO-VollkornSC-BlackItalic.eot');
    src:          local('*'),
                  url('TypoPRO-VollkornSC-BlackItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-VollkornSC-BlackItalic.woff') format('woff'),
                  url('TypoPRO-VollkornSC-BlackItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  900;
    font-stretch: normal;
    font-variant: small-caps;
}


/* TypoPRO Vollkorn SC Bold */
@font-face {
    font-family:  'TypoPRO Vollkorn SC';
    src:          url('TypoPRO-VollkornSC-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-VollkornSC-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-VollkornSC-Bold.woff') format('woff'),
                  url('TypoPRO-VollkornSC-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: small-caps;
}


/* TypoPRO Vollkorn SC Bold Italic */
@font-face {
    font-family:  'TypoPRO Vollkorn SC';
    src:          url('TypoPRO-VollkornSC-BoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-VollkornSC-BoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-VollkornSC-BoldItalic.woff') format('woff'),
                  url('TypoPRO-VollkornSC-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: small-caps;
}


/* TypoPRO Vollkorn SC ExtraBold */
@font-face {
    font-family:  'TypoPRO Vollkorn SC';
    src:          url('TypoPRO-VollkornSC-ExtraBold.eot');
    src:          local('*'),
                  url('TypoPRO-VollkornSC-ExtraBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-VollkornSC-ExtraBold.woff') format('woff'),
                  url('TypoPRO-VollkornSC-ExtraBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: normal;
    font-variant: small-caps;
}


/* TypoPRO Vollkorn SC ExtraBold Italic */
@font-face {
    font-family:  'TypoPRO Vollkorn SC';
    src:          url('TypoPRO-VollkornSC-ExtraBoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-VollkornSC-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-VollkornSC-ExtraBoldItalic.woff') format('woff'),
                  url('TypoPRO-VollkornSC-ExtraBoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  800;
    font-stretch: normal;
    font-variant: small-caps;
}


/* TypoPRO Vollkorn SC Italic */
@font-face {
    font-family:  'TypoPRO Vollkorn SC';
    src:          url('TypoPRO-VollkornSC-Italic.eot');
    src:          local('*'),
                  url('TypoPRO-VollkornSC-Italic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-VollkornSC-Italic.woff') format('woff'),
                  url('TypoPRO-VollkornSC-Italic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: small-caps;
}


/* TypoPRO Vollkorn SC Medium */
@font-face {
    font-family:  'TypoPRO Vollkorn SC';
    src:          url('TypoPRO-VollkornSC-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-VollkornSC-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-VollkornSC-Medium.woff') format('woff'),
                  url('TypoPRO-VollkornSC-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: small-caps;
}


/* TypoPRO Vollkorn SC Medium Italic */
@font-face {
    font-family:  'TypoPRO Vollkorn SC';
    src:          url('TypoPRO-VollkornSC-MediumItalic.eot');
    src:          local('*'),
                  url('TypoPRO-VollkornSC-MediumItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-VollkornSC-MediumItalic.woff') format('woff'),
                  url('TypoPRO-VollkornSC-MediumItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  500;
    font-stretch: normal;
    font-variant: small-caps;
}


/* TypoPRO Vollkorn SC Regular */
@font-face {
    font-family:  'TypoPRO Vollkorn SC';
    src:          url('TypoPRO-VollkornSC-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-VollkornSC-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-VollkornSC-Regular.woff') format('woff'),
                  url('TypoPRO-VollkornSC-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: small-caps;
}


/* TypoPRO Vollkorn SC SemiBold */
@font-face {
    font-family:  'TypoPRO Vollkorn SC';
    src:          url('TypoPRO-VollkornSC-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-VollkornSC-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-VollkornSC-SemiBold.woff') format('woff'),
                  url('TypoPRO-VollkornSC-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: small-caps;
}


/* TypoPRO Vollkorn SC SemiBold Italic */
@font-face {
    font-family:  'TypoPRO Vollkorn SC';
    src:          url('TypoPRO-VollkornSC-SemiBoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-VollkornSC-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-VollkornSC-SemiBoldItalic.woff') format('woff'),
                  url('TypoPRO-VollkornSC-SemiBoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  600;
    font-stretch: normal;
    font-variant: small-caps;
}

