
/* TypoPRO Vollkorn Black Italic */
@font-face {
    font-family:  'TypoPRO Vollkorn';
    src:          url('TypoPRO-Vollkorn-BlackItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Vollkorn-BlackItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vollkorn-BlackItalic.woff') format('woff'),
                  url('TypoPRO-Vollkorn-BlackItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}

