
/* TypoPRO Vollkorn Bold */
@font-face {
    font-family:  'TypoPRO Vollkorn';
    src:          url('TypoPRO-Vollkorn-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-Vollkorn-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vollkorn-Bold.woff') format('woff'),
                  url('TypoPRO-Vollkorn-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Vollkorn Bold Italic */
@font-face {
    font-family:  'TypoPRO Vollkorn';
    src:          url('TypoPRO-Vollkorn-BoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Vollkorn-BoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vollkorn-BoldItalic.woff') format('woff'),
                  url('TypoPRO-Vollkorn-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Vollkorn Italic */
@font-face {
    font-family:  'TypoPRO Vollkorn';
    src:          url('TypoPRO-Vollkorn-Italic.eot');
    src:          local('*'),
                  url('TypoPRO-Vollkorn-Italic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vollkorn-Italic.woff') format('woff'),
                  url('TypoPRO-Vollkorn-Italic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Vollkorn Medium */
@font-face {
    font-family:  'TypoPRO Vollkorn';
    src:          url('TypoPRO-Vollkorn-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-Vollkorn-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vollkorn-Medium.woff') format('woff'),
                  url('TypoPRO-Vollkorn-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Vollkorn Medium Italic */
@font-face {
    font-family:  'TypoPRO Vollkorn';
    src:          url('TypoPRO-Vollkorn-MediumItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Vollkorn-MediumItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vollkorn-MediumItalic.woff') format('woff'),
                  url('TypoPRO-Vollkorn-MediumItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Vollkorn */
@font-face {
    font-family:  'TypoPRO Vollkorn';
    src:          url('TypoPRO-Vollkorn-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Vollkorn-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vollkorn-Regular.woff') format('woff'),
                  url('TypoPRO-Vollkorn-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Vollkorn Semibold */
@font-face {
    font-family:  'TypoPRO Vollkorn';
    src:          url('TypoPRO-Vollkorn-Semibold.eot');
    src:          local('*'),
                  url('TypoPRO-Vollkorn-Semibold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vollkorn-Semibold.woff') format('woff'),
                  url('TypoPRO-Vollkorn-Semibold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Vollkorn Semibold Italic */
@font-face {
    font-family:  'TypoPRO Vollkorn';
    src:          url('TypoPRO-Vollkorn-SemiboldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Vollkorn-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Vollkorn-SemiboldItalic.woff') format('woff'),
                  url('TypoPRO-Vollkorn-SemiboldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}

