
/* TypoPRO Lora */
@font-face {
    font-family:  'TypoPRO Lato';
    src:          url('TypoPRO-Lora-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Lora-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Lora-Regular.woff') format('woff'),
                  url('TypoPRO-Lora-Regular.ttf') format('truetype'),
                  url('TypoPRO-Lora-Regular.svgz#TypoPRO-Lora-Regular') format('svg');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

