
/* TypoPRO SN Pro Black */
@font-face {
    font-family:  'TypoPRO SNPro';
    src:          url('TypoPRO-SNPro-Black.eot');
    src:          local('*'),
                  url('TypoPRO-SNPro-Black.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SNPro-Black.woff') format('woff'),
                  url('TypoPRO-SNPro-Black.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO SN Pro Black Italic */
@font-face {
    font-family:  'TypoPRO SNPro';
    src:          url('TypoPRO-SNPro-BlackItalic.eot');
    src:          local('*'),
                  url('TypoPRO-SNPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SNPro-BlackItalic.woff') format('woff'),
                  url('TypoPRO-SNPro-BlackItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO SN Pro Bold */
@font-face {
    font-family:  'TypoPRO SNPro';
    src:          url('TypoPRO-SNPro-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-SNPro-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SNPro-Bold.woff') format('woff'),
                  url('TypoPRO-SNPro-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO SN Pro Bold Italic */
@font-face {
    font-family:  'TypoPRO SNPro';
    src:          url('TypoPRO-SNPro-BoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-SNPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SNPro-BoldItalic.woff') format('woff'),
                  url('TypoPRO-SNPro-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO SN Pro Heavy */
@font-face {
    font-family:  'TypoPRO SNPro';
    src:          url('TypoPRO-SNPro-Heavy.eot');
    src:          local('*'),
                  url('TypoPRO-SNPro-Heavy.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SNPro-Heavy.woff') format('woff'),
                  url('TypoPRO-SNPro-Heavy.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO SN Pro Heavy Italic */
@font-face {
    font-family:  'TypoPRO SNPro';
    src:          url('TypoPRO-SNPro-HeavyItalic.eot');
    src:          local('*'),
                  url('TypoPRO-SNPro-HeavyItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SNPro-HeavyItalic.woff') format('woff'),
                  url('TypoPRO-SNPro-HeavyItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO SN Pro Light */
@font-face {
    font-family:  'TypoPRO SNPro';
    src:          url('TypoPRO-SNPro-Light.eot');
    src:          local('*'),
                  url('TypoPRO-SNPro-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SNPro-Light.woff') format('woff'),
                  url('TypoPRO-SNPro-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO SN Pro Light Italic */
@font-face {
    font-family:  'TypoPRO SNPro';
    src:          url('TypoPRO-SNPro-LightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-SNPro-LightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SNPro-LightItalic.woff') format('woff'),
                  url('TypoPRO-SNPro-LightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO SN Pro Medium */
@font-face {
    font-family:  'TypoPRO SNPro';
    src:          url('TypoPRO-SNPro-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-SNPro-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SNPro-Medium.woff') format('woff'),
                  url('TypoPRO-SNPro-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO SN Pro Medium Italic */
@font-face {
    font-family:  'TypoPRO SNPro';
    src:          url('TypoPRO-SNPro-MediumItalic.eot');
    src:          local('*'),
                  url('TypoPRO-SNPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SNPro-MediumItalic.woff') format('woff'),
                  url('TypoPRO-SNPro-MediumItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO SN Pro Regular */
@font-face {
    font-family:  'TypoPRO SNPro';
    src:          url('TypoPRO-SNPro-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-SNPro-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SNPro-Regular.woff') format('woff'),
                  url('TypoPRO-SNPro-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO SN Pro Regular Italic */
@font-face {
    font-family:  'TypoPRO SNPro';
    src:          url('TypoPRO-SNPro-RegularItalic.eot');
    src:          local('*'),
                  url('TypoPRO-SNPro-RegularItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SNPro-RegularItalic.woff') format('woff'),
                  url('TypoPRO-SNPro-RegularItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO SN Pro SemiBold */
@font-face {
    font-family:  'TypoPRO SNPro';
    src:          url('TypoPRO-SNPro-Semibold.eot');
    src:          local('*'),
                  url('TypoPRO-SNPro-Semibold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SNPro-Semibold.woff') format('woff'),
                  url('TypoPRO-SNPro-Semibold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO SN Pro Semibold Italic */
@font-face {
    font-family:  'TypoPRO SNPro';
    src:          url('TypoPRO-SNPro-SemiboldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-SNPro-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SNPro-SemiboldItalic.woff') format('woff'),
                  url('TypoPRO-SNPro-SemiboldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO SN Pro Thin */
@font-face {
    font-family:  'TypoPRO SNPro';
    src:          url('TypoPRO-SNPro-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-SNPro-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SNPro-Thin.woff') format('woff'),
                  url('TypoPRO-SNPro-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO SN Pro Thin Italic */
@font-face {
    font-family:  'TypoPRO SNPro';
    src:          url('TypoPRO-SNPro-ThinItalic.eot');
    src:          local('*'),
                  url('TypoPRO-SNPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SNPro-ThinItalic.woff') format('woff'),
                  url('TypoPRO-SNPro-ThinItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}

