
/* TypoPRO Work Sans Thin */
@font-face {
    font-family:  'TypoPRO Work Sans';
    src:          url('TypoPRO-WorkSans-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-WorkSans-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-WorkSans-Thin.woff') format('woff'),
                  url('TypoPRO-WorkSans-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}

