
/* TypoPRO Work Sans ExtraLight Italic */
@font-face {
    font-family:  'TypoPRO Work Sans';
    src:          url('TypoPRO-WorkSans-ExtraLightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-WorkSans-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-WorkSans-ExtraLightItalic.woff') format('woff'),
                  url('TypoPRO-WorkSans-ExtraLightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}

