
/* TypoPRO Work Sans Hairline */
@font-face {
    font-family:  'TypoPRO Work Sans 100';
    src:          url('TypoPRO-WorkSans-Hairline.eot');
    src:          local('*'),
                  url('TypoPRO-WorkSans-Hairline.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-WorkSans-Hairline.woff') format('woff'),
                  url('TypoPRO-WorkSans-Hairline.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

