
/* TypoPRO TitilliumTitle20 */
@font-face {
    font-family:  'TypoPRO Titillium Title';
    src:          url('TypoPRO-TitilliumTitle-Normal.eot');
    src:          local('*'),
                  url('TypoPRO-TitilliumTitle-Normal.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-TitilliumTitle-Normal.woff') format('woff'),
                  url('TypoPRO-TitilliumTitle-Normal.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

