
/* TypoPRO M+ 2c heavy */
@font-face {
    font-family:  'TypoPRO Mplus 2C';
    src:          url('TypoPRO-Mplus2c-Heavy.eot');
    src:          local('*'),
                  url('TypoPRO-Mplus2c-Heavy.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Mplus2c-Heavy.woff') format('woff'),
                  url('TypoPRO-Mplus2c-Heavy.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}

