
/* TypoPRO Go Regular */
@font-face {
    font-family:  'TypoPRO Go Sans';
    src:          url('TypoPRO-Go-Sans-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Go-Sans-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Go-Sans-Regular.woff') format('woff'),
                  url('TypoPRO-Go-Sans-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

