
/* TypoPRO Source Sans Pro Black */
@font-face {
    font-family:  'TypoPRO Source Sans Pro Black';
    src:          url('TypoPRO-SourceSansPro-Black.eot');
    src:          local('*'),
                  url('TypoPRO-SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceSansPro-Black.woff') format('woff'),
                  url('TypoPRO-SourceSansPro-Black.ttf') format('truetype'),
                  url('TypoPRO-SourceSansPro-Black.svgz#TypoPRO-SourceSansPro-Black') format('svg');
    font-style:   normal;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}

