
/* TypoPRO Source Sans Pro Light Italic */
@font-face {
    font-family:  'TypoPRO Source Sans Pro Light';
    src:          url('TypoPRO-SourceSansPro-LightIt.eot');
    src:          local('*'),
                  url('TypoPRO-SourceSansPro-LightIt.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-SourceSansPro-LightIt.woff') format('woff'),
                  url('TypoPRO-SourceSansPro-LightIt.ttf') format('truetype'),
                  url('TypoPRO-SourceSansPro-LightIt.svgz#TypoPRO-SourceSansPro-LightIt') format('svg');
    font-style:   italic;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}

