
/* TypoPRO TitilliumMaps29L-400wt */
@font-face {
    font-family:  'TypoPRO Titillium Maps';
    src:          url('TypoPRO-TitilliumMaps-Normal.eot');
    src:          local('*'),
                  url('TypoPRO-TitilliumMaps-Normal.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-TitilliumMaps-Normal.woff') format('woff'),
                  url('TypoPRO-TitilliumMaps-Normal.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

