
/* TypoPRO TitilliumMaps29L-800wt */
@font-face {
    font-family:  'TypoPRO Titillium Maps';
    src:          url('TypoPRO-TitilliumMaps-ExtraBold.eot');
    src:          local('*'),
                  url('TypoPRO-TitilliumMaps-ExtraBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-TitilliumMaps-ExtraBold.woff') format('woff'),
                  url('TypoPRO-TitilliumMaps-ExtraBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  700;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO TitilliumMaps29L-999wt */
@font-face {
    font-family:  'TypoPRO Titillium Maps';
    src:          url('TypoPRO-TitilliumMaps-Heavy.eot');
    src:          local('*'),
                  url('TypoPRO-TitilliumMaps-Heavy.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-TitilliumMaps-Heavy.woff') format('woff'),
                  url('TypoPRO-TitilliumMaps-Heavy.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO TitilliumMaps29L-400wt */
@font-face {
    font-family:  'TypoPRO Titillium Maps';
    src:          url('TypoPRO-TitilliumMaps-Normal.eot');
    src:          local('*'),
                  url('TypoPRO-TitilliumMaps-Normal.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-TitilliumMaps-Normal.woff') format('woff'),
                  url('TypoPRO-TitilliumMaps-Normal.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO TitilliumMaps29L-1wt */
@font-face {
    font-family:  'TypoPRO Titillium Maps';
    src:          url('TypoPRO-TitilliumMaps-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-TitilliumMaps-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-TitilliumMaps-Thin.woff') format('woff'),
                  url('TypoPRO-TitilliumMaps-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO TitilliumText25L-600wt */
@font-face {
    font-family:  'TypoPRO Titillium Text';
    src:          url('TypoPRO-TitilliumText-DemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-TitilliumText-DemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-TitilliumText-DemiBold.woff') format('woff'),
                  url('TypoPRO-TitilliumText-DemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO TitilliumText25L-800wt */
@font-face {
    font-family:  'TypoPRO Titillium Text';
    src:          url('TypoPRO-TitilliumText-ExtraBold.eot');
    src:          local('*'),
                  url('TypoPRO-TitilliumText-ExtraBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-TitilliumText-ExtraBold.woff') format('woff'),
                  url('TypoPRO-TitilliumText-ExtraBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO TitilliumText25L-999wt */
@font-face {
    font-family:  'TypoPRO Titillium Text';
    src:          url('TypoPRO-TitilliumText-Heavy.eot');
    src:          local('*'),
                  url('TypoPRO-TitilliumText-Heavy.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-TitilliumText-Heavy.woff') format('woff'),
                  url('TypoPRO-TitilliumText-Heavy.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO TitilliumText25L-250wt */
@font-face {
    font-family:  'TypoPRO Titillium Text';
    src:          url('TypoPRO-TitilliumText-Light.eot');
    src:          local('*'),
                  url('TypoPRO-TitilliumText-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-TitilliumText-Light.woff') format('woff'),
                  url('TypoPRO-TitilliumText-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO TitilliumText25L-400wt */
@font-face {
    font-family:  'TypoPRO Titillium Text';
    src:          url('TypoPRO-TitilliumText-Normal.eot');
    src:          local('*'),
                  url('TypoPRO-TitilliumText-Normal.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-TitilliumText-Normal.woff') format('woff'),
                  url('TypoPRO-TitilliumText-Normal.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO TitilliumText25L-1wt */
@font-face {
    font-family:  'TypoPRO Titillium Text';
    src:          url('TypoPRO-TitilliumText-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-TitilliumText-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-TitilliumText-Thin.woff') format('woff'),
                  url('TypoPRO-TitilliumText-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO TitilliumTitle20 */
@font-face {
    font-family:  'TypoPRO Titillium Title';
    src:          url('TypoPRO-TitilliumTitle-Normal.eot');
    src:          local('*'),
                  url('TypoPRO-TitilliumTitle-Normal.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-TitilliumTitle-Normal.woff') format('woff'),
                  url('TypoPRO-TitilliumTitle-Normal.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

