
/* TypoPRO Cormorant Bold */
@font-face {
    font-family:  'TypoPRO Cormorant';
    src:          url('TypoPRO-Cormorant-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-Cormorant-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Cormorant-Bold.woff') format('woff'),
                  url('TypoPRO-Cormorant-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Bold Italic */
@font-face {
    font-family:  'TypoPRO Cormorant';
    src:          url('TypoPRO-Cormorant-BoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Cormorant-BoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Cormorant-BoldItalic.woff') format('woff'),
                  url('TypoPRO-Cormorant-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Italic */
@font-face {
    font-family:  'TypoPRO Cormorant';
    src:          url('TypoPRO-Cormorant-Italic.eot');
    src:          local('*'),
                  url('TypoPRO-Cormorant-Italic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Cormorant-Italic.woff') format('woff'),
                  url('TypoPRO-Cormorant-Italic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Light */
@font-face {
    font-family:  'TypoPRO Cormorant';
    src:          url('TypoPRO-Cormorant-Light.eot');
    src:          local('*'),
                  url('TypoPRO-Cormorant-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Cormorant-Light.woff') format('woff'),
                  url('TypoPRO-Cormorant-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Light Italic */
@font-face {
    font-family:  'TypoPRO Cormorant';
    src:          url('TypoPRO-Cormorant-LightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Cormorant-LightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Cormorant-LightItalic.woff') format('woff'),
                  url('TypoPRO-Cormorant-LightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Medium */
@font-face {
    font-family:  'TypoPRO Cormorant';
    src:          url('TypoPRO-Cormorant-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-Cormorant-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Cormorant-Medium.woff') format('woff'),
                  url('TypoPRO-Cormorant-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Medium Italic */
@font-face {
    font-family:  'TypoPRO Cormorant';
    src:          url('TypoPRO-Cormorant-MediumItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Cormorant-MediumItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Cormorant-MediumItalic.woff') format('woff'),
                  url('TypoPRO-Cormorant-MediumItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Regular */
@font-face {
    font-family:  'TypoPRO Cormorant';
    src:          url('TypoPRO-Cormorant-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Cormorant-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Cormorant-Regular.woff') format('woff'),
                  url('TypoPRO-Cormorant-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant SemiBold */
@font-face {
    font-family:  'TypoPRO Cormorant';
    src:          url('TypoPRO-Cormorant-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-Cormorant-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Cormorant-SemiBold.woff') format('woff'),
                  url('TypoPRO-Cormorant-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant SemiBold Italic */
@font-face {
    font-family:  'TypoPRO Cormorant';
    src:          url('TypoPRO-Cormorant-SemiBoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Cormorant-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Cormorant-SemiBoldItalic.woff') format('woff'),
                  url('TypoPRO-Cormorant-SemiBoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Garamond Bold */
@font-face {
    font-family:  'TypoPRO Cormorant Garamond';
    src:          url('TypoPRO-CormorantGaramond-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantGaramond-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantGaramond-Bold.woff') format('woff'),
                  url('TypoPRO-CormorantGaramond-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Garamond Bold Italic */
@font-face {
    font-family:  'TypoPRO Cormorant Garamond';
    src:          url('TypoPRO-CormorantGaramond-BoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantGaramond-BoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantGaramond-BoldItalic.woff') format('woff'),
                  url('TypoPRO-CormorantGaramond-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Garamond Italic */
@font-face {
    font-family:  'TypoPRO Cormorant Garamond';
    src:          url('TypoPRO-CormorantGaramond-Italic.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantGaramond-Italic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantGaramond-Italic.woff') format('woff'),
                  url('TypoPRO-CormorantGaramond-Italic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Garamond Light */
@font-face {
    font-family:  'TypoPRO Cormorant Garamond';
    src:          url('TypoPRO-CormorantGaramond-Light.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantGaramond-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantGaramond-Light.woff') format('woff'),
                  url('TypoPRO-CormorantGaramond-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Garamond Light Italic */
@font-face {
    font-family:  'TypoPRO Cormorant Garamond';
    src:          url('TypoPRO-CormorantGaramond-LightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantGaramond-LightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantGaramond-LightItalic.woff') format('woff'),
                  url('TypoPRO-CormorantGaramond-LightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Garamond Medium */
@font-face {
    font-family:  'TypoPRO Cormorant Garamond';
    src:          url('TypoPRO-CormorantGaramond-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantGaramond-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantGaramond-Medium.woff') format('woff'),
                  url('TypoPRO-CormorantGaramond-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Garamond Medium Italic */
@font-face {
    font-family:  'TypoPRO Cormorant Garamond';
    src:          url('TypoPRO-CormorantGaramond-MediumItalic.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantGaramond-MediumItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantGaramond-MediumItalic.woff') format('woff'),
                  url('TypoPRO-CormorantGaramond-MediumItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Garamond Regular */
@font-face {
    font-family:  'TypoPRO Cormorant Garamond';
    src:          url('TypoPRO-CormorantGaramond-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantGaramond-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantGaramond-Regular.woff') format('woff'),
                  url('TypoPRO-CormorantGaramond-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Garamond SemiBold */
@font-face {
    font-family:  'TypoPRO Cormorant Garamond';
    src:          url('TypoPRO-CormorantGaramond-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantGaramond-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantGaramond-SemiBold.woff') format('woff'),
                  url('TypoPRO-CormorantGaramond-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Garamond SemiBold Italic */
@font-face {
    font-family:  'TypoPRO Cormorant Garamond';
    src:          url('TypoPRO-CormorantGaramond-SemiBoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantGaramond-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantGaramond-SemiBoldItalic.woff') format('woff'),
                  url('TypoPRO-CormorantGaramond-SemiBoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Infant Bold */
@font-face {
    font-family:  'TypoPRO Cormorant Infant';
    src:          url('TypoPRO-CormorantInfant-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantInfant-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantInfant-Bold.woff') format('woff'),
                  url('TypoPRO-CormorantInfant-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Infant Bold Italic */
@font-face {
    font-family:  'TypoPRO Cormorant Infant';
    src:          url('TypoPRO-CormorantInfant-BoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantInfant-BoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantInfant-BoldItalic.woff') format('woff'),
                  url('TypoPRO-CormorantInfant-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Infant Italic */
@font-face {
    font-family:  'TypoPRO Cormorant Infant';
    src:          url('TypoPRO-CormorantInfant-Italic.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantInfant-Italic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantInfant-Italic.woff') format('woff'),
                  url('TypoPRO-CormorantInfant-Italic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Infant Light */
@font-face {
    font-family:  'TypoPRO Cormorant Infant';
    src:          url('TypoPRO-CormorantInfant-Light.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantInfant-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantInfant-Light.woff') format('woff'),
                  url('TypoPRO-CormorantInfant-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Infant Light Italic */
@font-face {
    font-family:  'TypoPRO Cormorant Infant';
    src:          url('TypoPRO-CormorantInfant-LightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantInfant-LightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantInfant-LightItalic.woff') format('woff'),
                  url('TypoPRO-CormorantInfant-LightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Infant Medium */
@font-face {
    font-family:  'TypoPRO Cormorant Infant';
    src:          url('TypoPRO-CormorantInfant-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantInfant-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantInfant-Medium.woff') format('woff'),
                  url('TypoPRO-CormorantInfant-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Infant Medium Italic */
@font-face {
    font-family:  'TypoPRO Cormorant Infant';
    src:          url('TypoPRO-CormorantInfant-MediumItalic.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantInfant-MediumItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantInfant-MediumItalic.woff') format('woff'),
                  url('TypoPRO-CormorantInfant-MediumItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Infant Regular */
@font-face {
    font-family:  'TypoPRO Cormorant Infant';
    src:          url('TypoPRO-CormorantInfant-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantInfant-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantInfant-Regular.woff') format('woff'),
                  url('TypoPRO-CormorantInfant-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Infant SemiBold */
@font-face {
    font-family:  'TypoPRO Cormorant Infant';
    src:          url('TypoPRO-CormorantInfant-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantInfant-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantInfant-SemiBold.woff') format('woff'),
                  url('TypoPRO-CormorantInfant-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Infant SemiBold Italic */
@font-face {
    font-family:  'TypoPRO Cormorant Infant';
    src:          url('TypoPRO-CormorantInfant-SemiBoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantInfant-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantInfant-SemiBoldItalic.woff') format('woff'),
                  url('TypoPRO-CormorantInfant-SemiBoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant SC Bold */
@font-face {
    font-family:  'TypoPRO Cormorant SC';
    src:          url('TypoPRO-CormorantSC-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantSC-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantSC-Bold.woff') format('woff'),
                  url('TypoPRO-CormorantSC-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant SC Light */
@font-face {
    font-family:  'TypoPRO Cormorant SC';
    src:          url('TypoPRO-CormorantSC-Light.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantSC-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantSC-Light.woff') format('woff'),
                  url('TypoPRO-CormorantSC-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant SC Medium */
@font-face {
    font-family:  'TypoPRO Cormorant SC';
    src:          url('TypoPRO-CormorantSC-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantSC-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantSC-Medium.woff') format('woff'),
                  url('TypoPRO-CormorantSC-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant SC Regular */
@font-face {
    font-family:  'TypoPRO Cormorant SC';
    src:          url('TypoPRO-CormorantSC-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantSC-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantSC-Regular.woff') format('woff'),
                  url('TypoPRO-CormorantSC-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant SC SemiBold */
@font-face {
    font-family:  'TypoPRO Cormorant SC';
    src:          url('TypoPRO-CormorantSC-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantSC-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantSC-SemiBold.woff') format('woff'),
                  url('TypoPRO-CormorantSC-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Unicase Bold */
@font-face {
    font-family:  'TypoPRO Cormorant Unicase';
    src:          url('TypoPRO-CormorantUnicase-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantUnicase-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantUnicase-Bold.woff') format('woff'),
                  url('TypoPRO-CormorantUnicase-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Unicase Light */
@font-face {
    font-family:  'TypoPRO Cormorant Unicase';
    src:          url('TypoPRO-CormorantUnicase-Light.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantUnicase-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantUnicase-Light.woff') format('woff'),
                  url('TypoPRO-CormorantUnicase-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Unicase Medium */
@font-face {
    font-family:  'TypoPRO Cormorant Unicase';
    src:          url('TypoPRO-CormorantUnicase-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantUnicase-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantUnicase-Medium.woff') format('woff'),
                  url('TypoPRO-CormorantUnicase-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Unicase Regular */
@font-face {
    font-family:  'TypoPRO Cormorant Unicase';
    src:          url('TypoPRO-CormorantUnicase-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantUnicase-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantUnicase-Regular.woff') format('woff'),
                  url('TypoPRO-CormorantUnicase-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Unicase SemiBold */
@font-face {
    font-family:  'TypoPRO Cormorant Unicase';
    src:          url('TypoPRO-CormorantUnicase-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantUnicase-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantUnicase-SemiBold.woff') format('woff'),
                  url('TypoPRO-CormorantUnicase-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Upright Bold */
@font-face {
    font-family:  'TypoPRO Cormorant Upright';
    src:          url('TypoPRO-CormorantUpright-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantUpright-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantUpright-Bold.woff') format('woff'),
                  url('TypoPRO-CormorantUpright-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Upright Light */
@font-face {
    font-family:  'TypoPRO Cormorant Upright';
    src:          url('TypoPRO-CormorantUpright-Light.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantUpright-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantUpright-Light.woff') format('woff'),
                  url('TypoPRO-CormorantUpright-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Upright Medium */
@font-face {
    font-family:  'TypoPRO Cormorant Upright';
    src:          url('TypoPRO-CormorantUpright-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantUpright-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantUpright-Medium.woff') format('woff'),
                  url('TypoPRO-CormorantUpright-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Upright */
@font-face {
    font-family:  'TypoPRO Cormorant Upright';
    src:          url('TypoPRO-CormorantUpright-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantUpright-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantUpright-Regular.woff') format('woff'),
                  url('TypoPRO-CormorantUpright-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Cormorant Upright SemiBold */
@font-face {
    font-family:  'TypoPRO Cormorant Upright';
    src:          url('TypoPRO-CormorantUpright-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantUpright-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantUpright-SemiBold.woff') format('woff'),
                  url('TypoPRO-CormorantUpright-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}

