
/* TypoPRO Cormorant Infant */
@font-face {
    font-family:  'TypoPRO Cormorant Infant';
    src:          url('TypoPRO-CormorantInfant-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-CormorantInfant-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-CormorantInfant-Regular.woff') format('woff'),
                  url('TypoPRO-CormorantInfant-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

