
/* TypoPRO Encode Sans Compressed Bold */
@font-face {
    font-family:  'TypoPRO Encode Sans Compressed';
    src:          url('TypoPRO-EncodeSansCompressed-700-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansCompressed-700-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansCompressed-700-Bold.woff') format('woff'),
                  url('TypoPRO-EncodeSansCompressed-700-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

