
/* TypoPRO Encode Sans Wide Light */
@font-face {
    font-family:  'TypoPRO Encode Sans Wide';
    src:          url('TypoPRO-EncodeSansWide-300-Light.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansWide-300-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansWide-300-Light.woff') format('woff'),
                  url('TypoPRO-EncodeSansWide-300-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}

