
/* TypoPRO Encode Sans Compressed Thin */
@font-face {
    font-family:  'TypoPRO Encode Sans Compressed';
    src:          url('TypoPRO-EncodeSansCompressed-100-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansCompressed-100-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansCompressed-100-Thin.woff') format('woff'),
                  url('TypoPRO-EncodeSansCompressed-100-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Compressed ExtraLight */
@font-face {
    font-family:  'TypoPRO Encode Sans Compressed';
    src:          url('TypoPRO-EncodeSansCompressed-200-ExtraLight.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansCompressed-200-ExtraLight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansCompressed-200-ExtraLight.woff') format('woff'),
                  url('TypoPRO-EncodeSansCompressed-200-ExtraLight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Compressed Light */
@font-face {
    font-family:  'TypoPRO Encode Sans Compressed';
    src:          url('TypoPRO-EncodeSansCompressed-300-Light.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansCompressed-300-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansCompressed-300-Light.woff') format('woff'),
                  url('TypoPRO-EncodeSansCompressed-300-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Compressed */
@font-face {
    font-family:  'TypoPRO Encode Sans Compressed';
    src:          url('TypoPRO-EncodeSansCompressed-400-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansCompressed-400-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansCompressed-400-Regular.woff') format('woff'),
                  url('TypoPRO-EncodeSansCompressed-400-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Compressed Medium */
@font-face {
    font-family:  'TypoPRO Encode Sans Compressed';
    src:          url('TypoPRO-EncodeSansCompressed-500-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansCompressed-500-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansCompressed-500-Medium.woff') format('woff'),
                  url('TypoPRO-EncodeSansCompressed-500-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Compressed SemiBold */
@font-face {
    font-family:  'TypoPRO Encode Sans Compressed';
    src:          url('TypoPRO-EncodeSansCompressed-600-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansCompressed-600-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansCompressed-600-SemiBold.woff') format('woff'),
                  url('TypoPRO-EncodeSansCompressed-600-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Compressed Bold */
@font-face {
    font-family:  'TypoPRO Encode Sans Compressed';
    src:          url('TypoPRO-EncodeSansCompressed-700-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansCompressed-700-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansCompressed-700-Bold.woff') format('woff'),
                  url('TypoPRO-EncodeSansCompressed-700-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Compressed ExtraBold */
@font-face {
    font-family:  'TypoPRO Encode Sans Compressed';
    src:          url('TypoPRO-EncodeSansCompressed-800-ExtraBold.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansCompressed-800-ExtraBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansCompressed-800-ExtraBold.woff') format('woff'),
                  url('TypoPRO-EncodeSansCompressed-800-ExtraBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Compressed Black */
@font-face {
    font-family:  'TypoPRO Encode Sans Compressed';
    src:          url('TypoPRO-EncodeSansCompressed-900-Black.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansCompressed-900-Black.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansCompressed-900-Black.woff') format('woff'),
                  url('TypoPRO-EncodeSansCompressed-900-Black.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Condensed Thin */
@font-face {
    font-family:  'TypoPRO Encode Sans Condensed';
    src:          url('TypoPRO-EncodeSansCondensed-100-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansCondensed-100-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansCondensed-100-Thin.woff') format('woff'),
                  url('TypoPRO-EncodeSansCondensed-100-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Condensed ExtraLight */
@font-face {
    font-family:  'TypoPRO Encode Sans Condensed';
    src:          url('TypoPRO-EncodeSansCondensed-200-ExtraLight.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansCondensed-200-ExtraLight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansCondensed-200-ExtraLight.woff') format('woff'),
                  url('TypoPRO-EncodeSansCondensed-200-ExtraLight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Condensed Light */
@font-face {
    font-family:  'TypoPRO Encode Sans Condensed';
    src:          url('TypoPRO-EncodeSansCondensed-300-Light.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansCondensed-300-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansCondensed-300-Light.woff') format('woff'),
                  url('TypoPRO-EncodeSansCondensed-300-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Condensed */
@font-face {
    font-family:  'TypoPRO Encode Sans Condensed';
    src:          url('TypoPRO-EncodeSansCondensed-400-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansCondensed-400-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansCondensed-400-Regular.woff') format('woff'),
                  url('TypoPRO-EncodeSansCondensed-400-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Condensed Medium */
@font-face {
    font-family:  'TypoPRO Encode Sans Condensed';
    src:          url('TypoPRO-EncodeSansCondensed-500-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansCondensed-500-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansCondensed-500-Medium.woff') format('woff'),
                  url('TypoPRO-EncodeSansCondensed-500-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Condensed SemiBold */
@font-face {
    font-family:  'TypoPRO Encode Sans Condensed';
    src:          url('TypoPRO-EncodeSansCondensed-600-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansCondensed-600-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansCondensed-600-SemiBold.woff') format('woff'),
                  url('TypoPRO-EncodeSansCondensed-600-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Condensed Bold */
@font-face {
    font-family:  'TypoPRO Encode Sans Condensed';
    src:          url('TypoPRO-EncodeSansCondensed-700-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansCondensed-700-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansCondensed-700-Bold.woff') format('woff'),
                  url('TypoPRO-EncodeSansCondensed-700-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Condensed ExtraBold */
@font-face {
    font-family:  'TypoPRO Encode Sans Condensed';
    src:          url('TypoPRO-EncodeSansCondensed-800-ExtraBold.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansCondensed-800-ExtraBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansCondensed-800-ExtraBold.woff') format('woff'),
                  url('TypoPRO-EncodeSansCondensed-800-ExtraBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Condensed Black */
@font-face {
    font-family:  'TypoPRO Encode Sans Condensed';
    src:          url('TypoPRO-EncodeSansCondensed-900-Black.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansCondensed-900-Black.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansCondensed-900-Black.woff') format('woff'),
                  url('TypoPRO-EncodeSansCondensed-900-Black.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Narrow Thin */
@font-face {
    font-family:  'TypoPRO Encode Sans Narrow';
    src:          url('TypoPRO-EncodeSansNarrow-100-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansNarrow-100-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansNarrow-100-Thin.woff') format('woff'),
                  url('TypoPRO-EncodeSansNarrow-100-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Narrow ExtraLight */
@font-face {
    font-family:  'TypoPRO Encode Sans Narrow';
    src:          url('TypoPRO-EncodeSansNarrow-200-ExtraLight.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansNarrow-200-ExtraLight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansNarrow-200-ExtraLight.woff') format('woff'),
                  url('TypoPRO-EncodeSansNarrow-200-ExtraLight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Narrow Light */
@font-face {
    font-family:  'TypoPRO Encode Sans Narrow';
    src:          url('TypoPRO-EncodeSansNarrow-300-Light.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansNarrow-300-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansNarrow-300-Light.woff') format('woff'),
                  url('TypoPRO-EncodeSansNarrow-300-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Narrow */
@font-face {
    font-family:  'TypoPRO Encode Sans Narrow';
    src:          url('TypoPRO-EncodeSansNarrow-400-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansNarrow-400-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansNarrow-400-Regular.woff') format('woff'),
                  url('TypoPRO-EncodeSansNarrow-400-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Narrow Medium */
@font-face {
    font-family:  'TypoPRO Encode Sans Narrow';
    src:          url('TypoPRO-EncodeSansNarrow-500-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansNarrow-500-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansNarrow-500-Medium.woff') format('woff'),
                  url('TypoPRO-EncodeSansNarrow-500-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Narrow SemiBold */
@font-face {
    font-family:  'TypoPRO Encode Sans Narrow';
    src:          url('TypoPRO-EncodeSansNarrow-600-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansNarrow-600-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansNarrow-600-SemiBold.woff') format('woff'),
                  url('TypoPRO-EncodeSansNarrow-600-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Narrow Bold */
@font-face {
    font-family:  'TypoPRO Encode Sans Narrow';
    src:          url('TypoPRO-EncodeSansNarrow-700-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansNarrow-700-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansNarrow-700-Bold.woff') format('woff'),
                  url('TypoPRO-EncodeSansNarrow-700-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Narrow ExtraBold */
@font-face {
    font-family:  'TypoPRO Encode Sans Narrow';
    src:          url('TypoPRO-EncodeSansNarrow-800-ExtraBold.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansNarrow-800-ExtraBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansNarrow-800-ExtraBold.woff') format('woff'),
                  url('TypoPRO-EncodeSansNarrow-800-ExtraBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Narrow Black */
@font-face {
    font-family:  'TypoPRO Encode Sans Narrow';
    src:          url('TypoPRO-EncodeSansNarrow-900-Black.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansNarrow-900-Black.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansNarrow-900-Black.woff') format('woff'),
                  url('TypoPRO-EncodeSansNarrow-900-Black.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Normal Thin */
@font-face {
    font-family:  'TypoPRO Encode Sans';
    src:          url('TypoPRO-EncodeSansNormal-100-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansNormal-100-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansNormal-100-Thin.woff') format('woff'),
                  url('TypoPRO-EncodeSansNormal-100-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Normal ExtraLight */
@font-face {
    font-family:  'TypoPRO Encode Sans';
    src:          url('TypoPRO-EncodeSansNormal-200-ExtraLight.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansNormal-200-ExtraLight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansNormal-200-ExtraLight.woff') format('woff'),
                  url('TypoPRO-EncodeSansNormal-200-ExtraLight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Normal Light */
@font-face {
    font-family:  'TypoPRO Encode Sans';
    src:          url('TypoPRO-EncodeSansNormal-300-Light.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansNormal-300-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansNormal-300-Light.woff') format('woff'),
                  url('TypoPRO-EncodeSansNormal-300-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Normal */
@font-face {
    font-family:  'TypoPRO Encode Sans';
    src:          url('TypoPRO-EncodeSansNormal-400-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansNormal-400-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansNormal-400-Regular.woff') format('woff'),
                  url('TypoPRO-EncodeSansNormal-400-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Normal Medium */
@font-face {
    font-family:  'TypoPRO Encode Sans';
    src:          url('TypoPRO-EncodeSansNormal-500-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansNormal-500-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansNormal-500-Medium.woff') format('woff'),
                  url('TypoPRO-EncodeSansNormal-500-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Normal SemiBold */
@font-face {
    font-family:  'TypoPRO Encode Sans';
    src:          url('TypoPRO-EncodeSansNormal-600-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansNormal-600-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansNormal-600-SemiBold.woff') format('woff'),
                  url('TypoPRO-EncodeSansNormal-600-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Normal Bold */
@font-face {
    font-family:  'TypoPRO Encode Sans';
    src:          url('TypoPRO-EncodeSansNormal-700-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansNormal-700-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansNormal-700-Bold.woff') format('woff'),
                  url('TypoPRO-EncodeSansNormal-700-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Normal ExtraBold */
@font-face {
    font-family:  'TypoPRO Encode Sans';
    src:          url('TypoPRO-EncodeSansNormal-800-ExtraBold.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansNormal-800-ExtraBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansNormal-800-ExtraBold.woff') format('woff'),
                  url('TypoPRO-EncodeSansNormal-800-ExtraBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Normal Black */
@font-face {
    font-family:  'TypoPRO Encode Sans';
    src:          url('TypoPRO-EncodeSansNormal-900-Black.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansNormal-900-Black.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansNormal-900-Black.woff') format('woff'),
                  url('TypoPRO-EncodeSansNormal-900-Black.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Wide Thin */
@font-face {
    font-family:  'TypoPRO Encode Sans Wide';
    src:          url('TypoPRO-EncodeSansWide-100-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansWide-100-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansWide-100-Thin.woff') format('woff'),
                  url('TypoPRO-EncodeSansWide-100-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Wide ExtraLight */
@font-face {
    font-family:  'TypoPRO Encode Sans Wide';
    src:          url('TypoPRO-EncodeSansWide-200-ExtraLight.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansWide-200-ExtraLight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansWide-200-ExtraLight.woff') format('woff'),
                  url('TypoPRO-EncodeSansWide-200-ExtraLight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Wide Light */
@font-face {
    font-family:  'TypoPRO Encode Sans Wide';
    src:          url('TypoPRO-EncodeSansWide-300-Light.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansWide-300-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansWide-300-Light.woff') format('woff'),
                  url('TypoPRO-EncodeSansWide-300-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Wide */
@font-face {
    font-family:  'TypoPRO Encode Sans Wide';
    src:          url('TypoPRO-EncodeSansWide-400-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansWide-400-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansWide-400-Regular.woff') format('woff'),
                  url('TypoPRO-EncodeSansWide-400-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Wide Medium */
@font-face {
    font-family:  'TypoPRO Encode Sans Wide';
    src:          url('TypoPRO-EncodeSansWide-500-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansWide-500-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansWide-500-Medium.woff') format('woff'),
                  url('TypoPRO-EncodeSansWide-500-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Wide SemiBold */
@font-face {
    font-family:  'TypoPRO Encode Sans Wide';
    src:          url('TypoPRO-EncodeSansWide-600-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansWide-600-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansWide-600-SemiBold.woff') format('woff'),
                  url('TypoPRO-EncodeSansWide-600-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Wide Bold */
@font-face {
    font-family:  'TypoPRO Encode Sans Wide';
    src:          url('TypoPRO-EncodeSansWide-700-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansWide-700-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansWide-700-Bold.woff') format('woff'),
                  url('TypoPRO-EncodeSansWide-700-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Wide ExtraBold */
@font-face {
    font-family:  'TypoPRO Encode Sans Wide';
    src:          url('TypoPRO-EncodeSansWide-800-ExtraBold.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansWide-800-ExtraBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansWide-800-ExtraBold.woff') format('woff'),
                  url('TypoPRO-EncodeSansWide-800-ExtraBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Encode Sans Wide Black */
@font-face {
    font-family:  'TypoPRO Encode Sans Wide';
    src:          url('TypoPRO-EncodeSansWide-900-Black.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansWide-900-Black.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansWide-900-Black.woff') format('woff'),
                  url('TypoPRO-EncodeSansWide-900-Black.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}

