
/* TypoPRO Encode Sans Narrow */
@font-face {
    font-family:  'TypoPRO Encode Sans Narrow';
    src:          url('TypoPRO-EncodeSansNarrow-400-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansNarrow-400-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansNarrow-400-Regular.woff') format('woff'),
                  url('TypoPRO-EncodeSansNarrow-400-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

