
/* TypoPRO Encode Sans Wide Thin */
@font-face {
    font-family:  'TypoPRO Encode Sans Wide';
    src:          url('TypoPRO-EncodeSansWide-100-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansWide-100-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansWide-100-Thin.woff') format('woff'),
                  url('TypoPRO-EncodeSansWide-100-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}

