
/* TypoPRO Encode Sans Wide Medium */
@font-face {
    font-family:  'TypoPRO Encode Sans Wide';
    src:          url('TypoPRO-EncodeSansWide-500-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-EncodeSansWide-500-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-EncodeSansWide-500-Medium.woff') format('woff'),
                  url('TypoPRO-EncodeSansWide-500-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}

