
/* TypoPRO Office Code Pro Bold */
@font-face {
    font-family:  'TypoPRO Office Code Pro';
    src:          url('TypoPRO-OfficeCodePro-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-OfficeCodePro-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-OfficeCodePro-Bold.woff') format('woff'),
                  url('TypoPRO-OfficeCodePro-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Office Code Pro Bold Italic */
@font-face {
    font-family:  'TypoPRO Office Code Pro';
    src:          url('TypoPRO-OfficeCodePro-BoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-OfficeCodePro-BoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-OfficeCodePro-BoldItalic.woff') format('woff'),
                  url('TypoPRO-OfficeCodePro-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Office Code Pro Light */
@font-face {
    font-family:  'TypoPRO Office Code Pro';
    src:          url('TypoPRO-OfficeCodePro-Light.eot');
    src:          local('*'),
                  url('TypoPRO-OfficeCodePro-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-OfficeCodePro-Light.woff') format('woff'),
                  url('TypoPRO-OfficeCodePro-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Office Code Pro Light Italic */
@font-face {
    font-family:  'TypoPRO Office Code Pro';
    src:          url('TypoPRO-OfficeCodePro-LightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-OfficeCodePro-LightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-OfficeCodePro-LightItalic.woff') format('woff'),
                  url('TypoPRO-OfficeCodePro-LightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Office Code Pro Medium */
@font-face {
    font-family:  'TypoPRO Office Code Pro';
    src:          url('TypoPRO-OfficeCodePro-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-OfficeCodePro-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-OfficeCodePro-Medium.woff') format('woff'),
                  url('TypoPRO-OfficeCodePro-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Office Code Pro Medium Italic */
@font-face {
    font-family:  'TypoPRO Office Code Pro';
    src:          url('TypoPRO-OfficeCodePro-MediumItalic.eot');
    src:          local('*'),
                  url('TypoPRO-OfficeCodePro-MediumItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-OfficeCodePro-MediumItalic.woff') format('woff'),
                  url('TypoPRO-OfficeCodePro-MediumItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Office Code Pro */
@font-face {
    font-family:  'TypoPRO Office Code Pro';
    src:          url('TypoPRO-OfficeCodePro-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-OfficeCodePro-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-OfficeCodePro-Regular.woff') format('woff'),
                  url('TypoPRO-OfficeCodePro-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Office Code Pro Italic */
@font-face {
    font-family:  'TypoPRO Office Code Pro';
    src:          url('TypoPRO-OfficeCodePro-RegularItalic.eot');
    src:          local('*'),
                  url('TypoPRO-OfficeCodePro-RegularItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-OfficeCodePro-RegularItalic.woff') format('woff'),
                  url('TypoPRO-OfficeCodePro-RegularItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

