
/* TypoPRO Ubuntu Bold */
@font-face {
    font-family:  'TypoPRO Ubuntu';
    src:          url('TypoPRO-Ubuntu-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Ubuntu-Bold.woff') format('woff'),
                  url('TypoPRO-Ubuntu-Bold.ttf') format('truetype'),
                  url('TypoPRO-Ubuntu-Bold.svgz#TypoPRO-Ubuntu-Bold') format('svg');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

